
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top:    9px;
    padding-bottom: 5px;
}

body p{
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #003300;
    font-weight: bold;
}


body a:hover{ color: #BB0000; }

.my-bottom-nav {
    background-color: #373a3c;
}

.my-bottom-nav a{
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-left: 33px;
}

.my-bottom-nav a:hover{
    background-color: #EEEEEE;
    color: #BB0000; 
}

div.syntax pre {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #330000;
    font-weight: bold;
    border-radius: 15px;
    padding-left:  11px;
    background-color: #DDDDDD;
}

body li{
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #003300;
    font-weight: bold;
}
.sbar890 {overflow: scroll; width: 890px; overflow-y: hidden;}
.sbar950 {overflow: scroll; width: 950px; overflow-y: hidden;}
.sbar999 {overflow: scroll; width: 999px; overflow-y: hidden;}
.sbarv300 {width: 990px; height: 300px; overflow: scroll;}
.zebra_it table tr:nth-child(odd) {
  background-color: #DDDDDD; }

.rotate90img>img{margin: 122px; display:block; width: 900px; transform: rotate(90deg);}
