body {
  font-size: 1.2em;
  line-height: 1.7em;
  font-family: sans-serif; }
pre { 
  font-weight: 600;
  font-family: monospace,"Courier New",Terminal;
  font-size: 19px;
  line-height: 22px;
  color: #440000;
}

a, a:visited {
  color: #0000BB;
  text-decoration: underline;
  font-weight: 600; }

a:hover {
  background-color: #EEEEEE;
  color: #BB0000; }

body table {
  border-color: black;
  border-style: solid;
  border-width: 2px; }

.ablock > a {
  display: block; }

.divred {
  background-color: red; }

.divwhite {
  background-color: white;
  color: white; }

.divgrey {
  background-color: grey; }

.divgreen {
  background-color: #006600; }

.q1 { font-weight: 600; }
.q2 { font-weight: 600; font-size: 1.7em; line-height: 2.2em;}
span.tagtag { font-weight: 600; }


table#maint {min-width: 600px; max-width: 900px;}
