%p
  In Class01 we meet each other and get acquainted with the PCs in the lab.
  If you bring your own laptop, that should work better than the lab computers.
  Initially we work on install of VirtualBox.  Other topics:
  %ul
    %li Test Driven Development (manual)
    %li Rails
    %li selenium-webdriver
    %li Capybara
    %li RSpec
    %li Test Driven Development (automated)

