%p
  In Class03 we review topics and techniques from Class01 and Class02.
  Then, look at the topics listed below and work towards transforming understanding into projects:
  %ul
    %li Linear Algebra
    %li NumPy
    %li Pandas
    %li SQL
    %li Linear Regression

