%p
  In Class02 we review topics and techniques from Class01.
  Eventually, your projects will be to deploy ML apps; the topics below will help you.
  So, in Class02, we focus on the topics listed below:
  %ul
    %li AWS
    %li Linux
    %li Git
    %li Heroku

