
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-md-4">
      <h2>Class01</h2>
      <%=render('index_class01') %>
      <p><a class="btn btn-secondary" href="/cclasses/class01" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <h2>Class02</h2>
      <%=render('index_class02') %>
      <p><a class="btn btn-secondary" href="/cclasses/class02" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <h2>Class03</h2>
      <%=render('index_class03') %>
      <p><a class="btn btn-secondary" href="/cclasses/class03" role="button">View details &raquo;</a></p>
    </div>

  </div>

  <hr>

  <footer>
    <p>&copy; learn4.us 1999-3000</p>
  </footer>
</div> <!-- /container -->

