%h1 Syllabus

%h3 This site should teach you Machine Learning (ML), on Linux.

If you have Mac, you should be able to learn most of the material.
%br/
%br/

If you have Windows or a phone, you will be able to read most of the material.
%br/
%br/

Why is Linux best for ML?
%br/
%br/

Linux is designed to run many pieces of software simultaneously.
%br/
%br/

Both Windows and Mac are optimized to serve one person on one laptop.
%br/
%br/

If you take the time to master ML, you should learn the technology which
professionals use.
%br/
%br/

How is ML related to simultaneous processes?
%br/
%br/

Think about how Gmail detects spam.
%br/
%br/

First, the spam detector is waiting for messages from users.
Often a user will send a message, "This is spam".
Sometimes the user will say, "This not spam".
%br/
%br/

Second, the detector will learn from the spam, or not-spam.
It wants to 'know' why spam is spam.
%br/
%br/

Third, the detector wants to predict what is spam.
When it predicts your spam, it should put the probable-spam in your spam folder.
%br/
%br/

If I multiply this scenario by millions of users, it's easy to see
that the Gmail spam detector needs technology to support many
simultaneous processes.
%br/
%br/

If you are serious about ML, you should learn Linux.
%br/
%br/

Fortunately, you can use a simple ML project to teach yourself Linux.
%br/
%br/



