%h1 Meetup

This Meetup is a Machine Learning (ML) class.
%br/
%br/

This is not a pizza-power-point Meetup.
%br/
%br/

It is a class; just like class in school except this class is self-paced.
%br/
%br/

You follow your pace and focus on your ML interests.
%br/
%br/

Actually it is a series of classes where you learn the technology using your laptop.
%br/
%br/

The lectures are very brief.
%br/
%br/

You spend most of the time in class wrestling with the technology.
%br/
%br/

This hands-on class is for people who can write software.
%br/
%br/

If you cannot write software, you will find the class very dull.
%br/
%br/

Also the class is social.  We intend for the students to help each other.
%br/
%br/

And the class is project based.
%br/
%br/

If you have a predictive analytics problem you need solved, that problem could become your project.
%br/
%br/

ML is powerful technology.
%br/
%br/

It gives you the ability to answer the simple question,
where should I invest my efforts and resources?
%br/
%br/

Most tech companies use ML to answer that question.
%br/
%br/

Google for example, uses ML to optimally serve your searches (and their ads).
%br/
%br/

