%a(href='/posts/index') 2015-01-10 | index
%a(href='/posts/tags') 2015-01-10 | tags
%a(href='/posts/linux101') 2015-01-10 | linux101
%a(href='/posts/mlapp104') 2015-01-10 | mlapp104
%a(href='/posts/mlapp101') 2015-01-10 | mlapp101
%a(href='/posts/numpy101') 2015-01-10 | numpy101
%a(href='/posts/pandas101') 2015-01-10 | pandas101
%a(href='/posts/mlapp102') 2015-01-10 | mlapp102
%a(href='/posts/mlapp105') 2015-01-10 | mlapp105
%a(href='/posts/shell101') 2015-01-10 | shell101
%a(href='/posts/scikit101') 2015-01-10 | scikit101
%a(href='/posts/python101') 2015-01-10 | python101
%a(href='/posts/mlapp103') 2015-01-10 | mlapp103
