%a(href='/tags/anaconda') anaconda
%a(href='/tags/bash') bash
%a(href='/tags/behavior') behavior
%a(href='/tags/csv') csv
%a(href='/tags/d3js') d3js
%a(href='/tags/feed_forward') feed_forward
%a(href='/tags/finance') finance
%a(href='/tags/fit') fit
%a(href='/tags/html') html
%a(href='/tags/javascript') javascript
%a(href='/tags/learn') learn
%a(href='/tags/linux') linux
%a(href='/tags/numpy') numpy
%a(href='/tags/pandas') pandas
%a(href='/tags/predict') predict
%a(href='/tags/python') python
%a(href='/tags/scikit') scikit
%a(href='/tags/shell') shell
%a(href='/tags/sports') sports
%a(href='/tags/startup') startup
%a(href='/tags/webserver') webserver
