%h1 Linux 101

.q1 Question:
.q2 How start with Linux?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
%br/

If you are currently looking at a Windows laptop,
starting with Linux is difficult.  
%br/
%br/

You would have several paths leading you towards Linux.  It is hard to
say which path is optimal for your situation.
%br/
%br/

If you have money, the optimal solution is to buy a cheap laptop or
box with Linux loaded for you:
%br/
%br/

%a(href='http://zareason.com' target='x')
  http://zareason.com
%br/
%br/

I guess you could also buy a Mac and then follow the Mac directions.
%br/
%br/

But, Macs are expensive.
%br/
%br/

On the other hand,
if you are currently looking at a Mac laptop,
starting with Linux is easy.
%br/
%br/

Mac is similar to Linux so
the first easy choice is to just pretend that your laptop is running Linux.
%br/
%br/




  
