%h1 ML App 103, Serve Predictions to Web

.q1 Question:
.q2 How Serve Predictions to Web?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/scikit') scikit
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/predict') predict
  %a.xtag(href='/tags/webserver') webserver
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/html') html
  %a.xtag(href='/tags/javascript') javascript
  %a.xtag(href='/tags/d3js') d3js
%br/

Under construction...
