%h1 ML App 105, Final Project

.q1 Question:
.q2 Final Project?
.tags
  %span.tagtag Tags:
  .tag scikit
  .tag python
  .tag startup
  .tag sports
  .tag finance
  .tag behavior
%br/

Under contstruction...
