%h1 ML App 103, Serve Predictions to Web

.q1 Question:
.q2 How Serve Predictions to Web?
.tags
  %span.tagtag Tags:
  .tag scikit
  .tag python
  .tag predict
  .tag webserver
  .tag csv
  .tag html
  .tag javascript
  .tag d3js
%br/

Under contstruction...
