%h1 ML App 104, Learn from Predictions (Feed Forward)

.q1 Question:
.q2 How Feed Forward?
.tags
  %span.tagtag Tags:
  .tag scikit
  .tag python
  .tag predict
  .tag fit
  .tag feed_forward
%br/

Under contstruction...
