%h1 ML App 104, Learn from Predictions (Feed Forward)

.q1 Question:
.q2 How Feed Forward?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/scikit') scikit
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/predict') predict
  %a.xtag(href='/tags/fit') fit
  %a.xtag(href='/tags/feed_forward') feed_forward
%br/

Under construction...
