%h1 ML App 101, Acquire Data and Learn

.q1 Question:
.q2 How Acquire Data and Learn?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/scikit') scikit
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/learn') learn
  %a.xtag(href='/tags/fit') fit
%br/

Under construction...
