%h1 ML App 105, Final Project

.q1 Question:
.q2 Final Project?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/scikit') scikit
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/startup') startup
  %a.xtag(href='/tags/sports') sports
  %a.xtag(href='/tags/finance') finance
  %a.xtag(href='/tags/behavior') behavior
%br/

Under construction...
