%h1 Shell 101

.q1 Question:
.q2 How start with Linux Bash shell?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/shell') shell
%br/

Under construction...
