<h1 class="post-title">Big deep learning news: Google Tensorflow chooses Keras </h1>
  <span class="post-date">03 Jan 2017 <i>Rachel Thomas</i></span>
  <p>Buried in a <a href="https://www.reddit.com/r/MachineLearning/comments/5jg7b8/p_deep_learning_for_coders18_hours_of_lessons_for/dbhaizx/">Reddit comment</a>, Francois Chollet, author of Keras and AI researcher at Google, made an exciting announcement: <a href="https://keras.io/">Keras</a> will be the first high-level library added to core TensorFlow at Google, which will effectively make it TensorFlow’s default API.  This is excellent news for a number of reasons!</p>

<p>As background, Keras is a high-level Python neural networks library that runs on top of either TensorFlow or <a href="http://deeplearning.net/software/theano/">Theano</a>. There are other high level Python neural networks libraries that can be used on top of TensorFlow, such as TF-Slim, although these are <a href="https://www.quora.com/What-will-Keras-do-with-TensorFlow-Slim">less developed</a> and not part of core TensorFlow.</p>

<p>
