%h1 Class03
%p In Class03 we review topics and techniques from Class01 and Class02. Then, look at the topics listed below and work towards transforming understanding into projects:

%h2 Topics:
%ul
  %li Linear Algebra
  %li NumPy
  %li Pandas
  %li SQL
  %li Linear Regression

%h2 Questions:
%ul
  %li What is Linear Algebra?
  %li Why learn NumPy?
  %li How to learn Pandas?
  %li Is SQL easy to use?
  %li How to visualize Linear Regression?



