%h1 Class05
%p In Class05 we start our study of TensorFlow.

%h2 Topics:
%ul
  %li TensorFlow
  %li Nvidia
  %li GPU
  %li Cuda
  %li CuDNN


%h2 Questions:
%ul
  %li What is TensorFlow?
  %li Why Use TensorFlow?
  %li How to install TensorFlow?
  %li How to operate TensorFlow?
  %li What is Nvidia?
  %li What is GPU?
  %li How to link TensorFlow with Cuda?
  %li How to force TensorFlow to use GPU?

%h2#ana1 Lab
%ul
  %li Install Anaconda
  %li
    %a(href='/cclasses/class05an1') Answer
  %li Test your installation of Anaconda
  %li
    %a(href='/cclasses/class05an5') Answer

