%h2 Class02 Answer:
%h2 How to deploy a simple app on Heroku?

%p This is an easy task.

%ul
  %li
    Create an account at
    %a(href='https://www.heroku.com' target='x')
      https://www.heroku.com
  
  %li
    Download the heroku-client
    .syntax
      %pre
        %code.bash
          cd ~
          rm -rf heroku-client.tgz heroku-client
          wget https://s3.amazonaws.com/assets.heroku.com/heroku-client/heroku-client.tgz
          tar zxf heroku-client.tgz
          echo 'export PATH=${HOME}/heroku-client/bin:${PATH}' >> ~/.bashrc
          bash
          heroku status

  %li
    Clone an existing app from github.com  
  %li
    Download the heroku-client
    .syntax
      %pre
        %code.bash
          cd ~
          git clone https://github.com/danbikle/ml4us class2app
  %li
    Use the client to create an app:
    .syntax
      %pre
        %code.bash
          cd ~/class2app
          heroku create class2app
  %li
    Push the clone to heroku.com:
    .syntax
      %pre
        %code.bash
          cd ~/class2app
          git push heroku master
    
%p
  %a(href='class02') Class02
