%h2 Class08 Answer:
%h2 Create Linux Account: fx2

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      sudo useradd -m -s /bin/bash -G sudo fx2
      sudo passwd fx2

%p Then I logged into fx2 and continued the lab from the fx2 account.

%p
  %a(href='class08#setup')
    Class08 Lab
