%h2 Class09 Answer:
%h2 Report Predictions Effectiveness Sum, Grouped by Pair and Training Size

%p I started this lab by asking two questions:
%ul
  %li Of the five pairs, which is the most predictable pair?
  %li For each pair, what is an optimal amount of training data?

%p To help me answer the above questions, I wrote the script listed below:

.syntax
  %pre
    =render 'class09s23a'

%p I ran the above script and saw this output:

.syntax
  %pre
    =render 'class09s23b'

%p Above, I can see that the most effective combination of pair and trainsize is: AUDUSD, 31000.

%p I see that 7 combinations give me an effectiveness sum over 6,000.

%p Of those 7, 4 combinations contain AUDUSD.

%p When I study the top 30 combinations, AUDUSD appears 14 times.

%p Clearly, AUDUSD is the most predictive pair.

%p The least predictive pair is USDJPY.

%p For each pair, the optimal number of training observations is listed below:

%ul
  %li AUDUSD: 31000
  %li USDCAD: 33000
  %li EURUSD: 71000
  %li GBPUSD: 23000
  %li USDJPY: 63000
%p I wrote and ran a script to plot the top 30 predictable combinations:

.syntax
  %pre
    =render 'class09s23c'
    
%p I made plots of the top 30 predictable combinations:

%img(src='/class09/img31000AUDUSD.png')
%img(src='/class09/img33000USDCAD.png')
%img(src='/class09/img9000AUDUSD.png')
%img(src='/class09/img71000EURUSD.png')
%img(src='/class09/img49000AUDUSD.png')
%img(src='/class09/img29000AUDUSD.png')
%img(src='/class09/img23000GBPUSD.png')
%img(src='/class09/img85000AUDUSD.png')
%img(src='/class09/img105000USDCAD.png')
%img(src='/class09/img75000AUDUSD.png')
%img(src='/class09/img81000AUDUSD.png')
%img(src='/class09/img15000USDCAD.png')
%img(src='/class09/img93000USDCAD.png')
%img(src='/class09/img37000AUDUSD.png')
%img(src='/class09/img63000USDJPY.png')
%img(src='/class09/img21000GBPUSD.png')
%img(src='/class09/img25000EURUSD.png')
%img(src='/class09/img55000AUDUSD.png')
%img(src='/class09/img41000AUDUSD.png')
%img(src='/class09/img67000GBPUSD.png')
%img(src='/class09/img53000AUDUSD.png')
%img(src='/class09/img53000EURUSD.png')
%img(src='/class09/img35000AUDUSD.png')
%img(src='/class09/img105000USDJPY.png')
%img(src='/class09/img93000GBPUSD.png')
%img(src='/class09/img107000AUDUSD.png')
%img(src='/class09/img55000GBPUSD.png')
%img(src='/class09/img87000AUDUSD.png')
%img(src='/class09/img97000USDJPY.png')
%img(src='/class09/img31000EURUSD.png')

%p
  %a(href='class09#op')
    Class09 Lab
