%h2 Class05 Answer:
%h2 Buy a GPU Host.

%p A GPU host obviously needs a GPU inside.

%p Also it should run Ubuntu 16.04.
%p Why?
%p The version of TensorFlow we want to install depends on Cuda 8.0 (as of 2017-06-28).

%p Some information about Cuda 8.0 is listed inside the URL below:

%p
  %a(href='http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#axzz4VZnqTJ2A' target='x')
    http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#axzz4VZnqTJ2A
%p It is obvious to me that the best OS for Cuda 8.0 is Ubuntu 16.04.

%p A good second choice might be CentOS 7.x

%p In 2017 I have had good luck installing Ubuntu 16.04 on a variety of HP-Envy laptops.

%p Currently Costco offers an HP-Envy with a GPU for $800:

%p
  %a(href='http://www.google.com/search?q=HP+ENVY+17-s143cl' target='x')
    http://www.google.com/search?q=HP+ENVY+17-s143cl
  

