%h2 Class08 Answer:
%h2 Install Ruby in ~fx1/.rbenv

%p For me this was an easy lab. 
%p After I logged in as fx1, I typed some shell commands:

.syntax
  %pre
    = render 'class08s13a'

%p
  %a(href='class08#setup')
    Class08 Lab
