%h1 Class08
%p In Class08 we start our study of R


%h2#setup Lab (Setup)
%ul
  %li Update Ubuntu
  %li
    %a(href='/cclasses/class08s10') Answer

  %li Enhance Ubuntu
  %li
    %a(href='/cclasses/class08s11') Answer

  %li Create Linux Account: fx1
  %li
    %a(href='/cclasses/class08s12') Answer

  %li Install Ruby in ~fx1/.rbenv
  %li
    %a(href='/cclasses/class08s13') Answer

  %li Install chromedriver in ~fx1/.rbenv/shims/
  %li
    %a(href='/cclasses/class08s14') Answer

  %li clone https://github.com/danbikle/ml4us
  %li
    %a(href='/cclasses/class08s15') Answer

  %li Run bundle install in ~/fx1/ml4us/
  %li
    %a(href='/cclasses/class08s16') Answer

  %li Get account at truefx.com
  %li
    %a(href='/cclasses/class08s17') Answer

  %li Enhance spec/features/truefx_spec.rb
  %li
    %a(href='/cclasses/class08s18') Answer

  %li Get data from truefx.com
  %li
    %a(href='/cclasses/class08s19') Answer
    
  %li Transform some data into features
  %li
    %a(href='/cclasses/class08s20') Answer
    
  %li Learn from the features
  %li
    %a(href='/cclasses/class08s21') Answer

  %li Generate predictions
  %li
    %a(href='/cclasses/class08s22') Answer
    
  %li Report effectiveness of predictions
  %li
    %a(href='/cclasses/class08s23') Answer
    

