%h2 ml4.us Class03 Homework Questions
%ul
  %li
    What is Linear Algebra?
  %li
    What types of problems is Linear Algebra well suited for?
  %li
    How to quickly learn basic Linear Algebra?
  %li
    In Linear Algebra, what is a Vector?
  %li
    In Linear Algebra, what is a Matrix?
  %li
    In Linear Algebra, what is a Scalar?
  %li
    How to multiply Scalar and Scalar?
  %li
    How to multiply Scalar and Vector?
  %li
    How to multiply Scalar and Matrix?
  %li
    How to multiply Vector and Vector?
  %li
    How to multiply Vector and Matrix?
  %li
    How to multiply Matrix and Matrix?
  %li
    In Algebra, what is the equation of a straight line?
  %li
    In Linear Algebra, what is the equation of a straight line?
  %li
    How to transform Linear Algebra straight line expression into Algebra expression?
  %li
    In Linear Algebra, what is the transpose of a Vector?
  %li
    In Linear Algebra, what is the transpose of a Matrix?
  %li
    What is the inverse of a Scalar?
  %li
    What is the inverse of a Matrix?
  %li
    What is the pseudo-inverse of a Matrix?
  %li
    In NumPy how to get the pseudo-inverse of a NumPy Array?
  %li
    With        Algebra how to fit a line to (1,1) and (2,4)?
  %li
    With Linear Algebra how to fit a line to (1,1) and (2,4)?
  %li
    With        Algebra how to fit a straight line to (1,1), (2,4) and (3,5)?
  %li
    With Linear Algebra how to fit a straight line to (1,1), (2,4) and (3,5)?



