%h2 Class03 Answer:
%h2 Use Pandas to plot prices of GSPC for 2016.

%p One way to learn Pandas is to study examples.
%p Another way is by asking good questions of Google:
%p
  %a(href='http://www.google.com/search?q=In+python+pandas+how+to+plot+a+line' target='x')
    http://www.google.com/search?q=In+python+pandas+how+to+plot+a+line
.syntax
  %pre
    =render 'class03p11'
%hr/
%img(src='/class03/p12.png')
%hr/
%p
  %a(href='class03#lab')
    Class03 Lab
