%h2 Class09 Answer:
%h2 Install Ruby in ~fx411/.rbenv

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    = render 'class09s13a'

%p
  %a(href='class09#setup')
    Class09 Lab
