%h1 Class09
%p In Class09 we Machine Learn Forex Data

%h2 Topics:
%ul
  %li Forex Features
  %li Machine Learning Choices

%h2 Questions:
%ul
  %li What are some plausible Forex Features?
  %li What is a Machine Learning Hyper Parameter?
  %li How much training data is needed to train a model?

%h2#setup Lab (Setup)
%ul
  %li Get an Ubuntu 16 Virtual Box
  %li
    %a(href='/cclasses/class09s10') Answer
  
  %li Update Ubuntu
  %li
    %a(href='/cclasses/class09s10a') Answer

  %li Enhance Ubuntu
  %li
    %a(href='/cclasses/class09s11') Answer

  %li Create Linux Account: fx411
  %li
    %a(href='/cclasses/class09s12') Answer

  %li Install Anaconda Python in fx411 account
  %li
    %a(href='/cclasses/class09ana') Answer

  %li Install Ruby in ~fx411/.rbenv
  %li
    %a(href='/cclasses/class09s13') Answer

  %li clone https://github.com/danbikle/fx411
  %li
    %a(href='/cclasses/class09s15') Answer

  %li Run bundle install in ~fx411/fx411
  %li
    %a(href='/cclasses/class09s16') Answer

  %li Get account at truefx.com
  %li
    %a(href='/cclasses/class09s17') Answer

  %li Enhance ~fx411/fx411/spec/features/truefx_spec.rb
  %li
    %a(href='/cclasses/class09s18') Answer

%h2#op Lab (operation)
%ul
  %li Get data from truefx.com
  %li
    %a(href='/cclasses/class09s19') Answer-1 (interesting)
  %li
    %a(href='/cclasses/class09s30') Answer-2 (pair-month-zip)
  %li
    %a(href='/cclasses/class09s32') Answer-3 (best)
    
  %li Aggregate Data.
  %li
    %a(href='/cclasses/class09s20') Answer
    
  %li Generate Features.
  %li
    %a(href='/cclasses/class09s21') Answer
    
    
  %li Generate Models/Predictions from Features.
  %li
    %a(href='/cclasses/class09s22') Answer
    
  %li Report Predictions Effectiveness Sum, Grouped by Pair and Training Size.
  %li
    %a(href='/cclasses/class09s23') Answer
    

