%h2 Class09 Answer:
%h2 Report Predictions Effectiveness Sum, Grouped by Pair and Training Size

%p I started this lab by asking two questions:
%ul
  %li Of the five pairs, which is the most predictable pair?
  %li For each pair, what is an optimal amount of training data?

%p To help me answer the above questions, I wrote the script listed below:

.syntax
  %pre
    =render 'class09s23a'

%p
  %a(href='class09#op')
    Class09 Lab
