%h1 Class10
%p In Class10 we build a Machine Learning API server.

%h2 Topics:
%ul
  %li Flask-RESTful
  %li Keras
  %li SQLAlchemy

%h2 Questions:
%ul
  %li What is Flask-RESTful?
  %li Why use Flask-RESTful?
  %li What is Keras?
  %li Why use Keras?
  %li What is SQLAlchemy?
  %li Why use SQLAlchemy?
  
  
%h2 Lab (Setup)

%ul
  %li Download:
  %li ub16_2018_0203.ova (Ubuntu 16.04 VirtualBox Instance 14 GB):
  %li
    %a(href='https://drive.google.com/file/d/18_PFplwc16p5f67GZDGgsvsIywxrZE_y' target='x')
      https://drive.google.com/file/d/18_PFplwc16p5f67GZDGgsvsIywxrZE_y
  
  %li Import the above OVA file
  %li Login as ann [ pass is 'a' ]
  %li See if you can connect to Postgres using psql.
  %li Check which version of Anaconda Python you are running.
  %li Python 3.6.3 is good.
  %li Install some packages with conda:
  %li
    .syntax
      %pre
        %code.bash
          conda install flask-restful -c conda-forge
          conda install psycopg2 sqlalchemy keras
  %li Clone this repo:
  %li
    %a(href='https://github.com/danbikle/keras11' target='x')
      https://github.com/danbikle/keras11
  %li You should clone it to: ~ann/keras11/
  %li Study this script:
  %li
    %a(href='https://github.com/danbikle/keras11/blob/master/keras11.py' target='x')
      https://github.com/danbikle/keras11/blob/master/keras11.py
  
%p Steps of KerasService.get() method in keras11.py Script:
.syntax
  %pre
    =render 'class10s1'

%h2 Lab (Demo 1)
%p Run the first demo with a simple shell command:

.syntax
  %pre
    %code
      cd ~/keras11
      python import_keras11.py

%p Q: What does this lab do?

%h2 Lab (Demo 2)
%p Run the next demo with these shell commands:

.syntax
  %pre
    %code
      cd ~/keras11
      \./flask11.bash

%p The above shell command will start an API server.  Let the server run and start another shell.

%p Run Demo 2:

.syntax
  %pre
    %code
      cd ~/keras11
      bash -x curlem.bash

%p Q: What does this lab do?

%h2 Lab (Demo 3)
%p Run the next demo with these shell commands:

.syntax
  %pre
    %code
      cd ~/keras11
      python import_keras12.py

%p Q: What does this lab do?

%h2 Lab (Demo 4)
%p Run the next demo with these shell commands:

.syntax
  %pre
    %code
      cd ~/keras11
      \./flask12.bash

%p The above shell command will start an API server.  Let the server run and start another shell.

%p Run Demo 4:

.syntax
  %pre
    %code
      cd ~/keras11
      curl localhost:5012/nnmodel/IBM/2017/3/2/3?features=pctlag1,slope2,dow,moy

%p Q: What does this lab do?

