%h2 Class08 Answer:
%h2 Enhance ~fx1/ml4us/spec/features/truefx_spec.rb

%p For me this was an easy lab. 
%p I put my username and password into the script.
%p It is obvious where they should go.

%p
  %a(href='class08#op')
    Class08 Lab
