%h1 Class05
%p In Class05 we start our study of TensorFlow.

%h2 Topics:
%ul
  %li TensorFlow
  %li TensorFlow and Python
  %li Nvidia
  %li GPU
  %li Cuda
  %li CuDNN


%h2 Questions:
%ul
  %li What is TensorFlow?
  %li Why Use TensorFlow?
  %li How to install TensorFlow?
  %li How to operate TensorFlow?
  %li What is Nvidia?
  %li What is GPU?
  %li How to link TensorFlow with Cuda?
  %li How to force TensorFlow to use GPU?
  %li Which is better, TensorFlow or scikit-learn?

%h2#gpu Optional Lab (GPU, Ubuntu 16.06, CUDA 8.0, cuDNN 5.1, TensorFlow 1.2)
%ul
  %li Buy a GPU Host.
  %li
    %a(href='/cclasses/class05gpu01easy') Easy Answer
  %li
    %a(href='/cclasses/class05gpu01b') Cheap Answer

  %li Install Ubuntu 16.04 on GPU host.
  %li
    %a(href='/cclasses/class05win2ubu16') Answer

  %li Enhance Ubuntu 16.04.
  %li
    %a(href='/cclasses/class05ub16enh') Answer

  %li Install Nvidia CUDA v8.0 Software
  %li
    %a(href='/cclasses/class05cuda80') Answer
  %li Test CUDA
  %li Install Nvidia cuDNN v5.1 Software
  %li Install TensorFlow
  %li Test TensorFlow
  
  