%h1 Class02
%p
  In Class02 we review topics and techniques from Class01.
  Eventually, your projects will be to deploy ML apps;
  the topics below will help you.
  So, in Class02, we focus on the topics listed below:

%h2 Topics:
%ul
  %li AWS
  %li Linux
  %li Git
  %li Heroku

%h2 Questions:
%ul
  %li Which parts of AWS interest you the most?
  %li How to get started with Linux?
  %li
    %a(href='/cclasses/class02l10') Answer  
  %li What is Git and why use it?
  %li
    %a(href='/cclasses/class02g10') Answer
  %li How to deploy a simple app on Heroku?

%h2#lab Lab:
%ul
  %li Create an AWS account
  %li
    %a(href='/cclasses/class02aws1') Answer
  %li Create an EC2 Instance
  %li
    %a(href='/cclasses/class02ec21') Answer
