%h2 Class03 Answer:
%h2 Show a plot of the fitted line on top of the 2016 prices

%p I use NumPy, Pandas below.

.syntax
  %pre
    =render 'class03p27'

%p I ran the above script and saw this:

%p
  %a(href='class03#lab')
    Class03 Lab
