%h2 Class03 Answer:
%h2 Calculate RMSE for that fitted line

%p I use NumPy, Pandas below.

.syntax
  %pre
    =render 'class03p23'

%p I ran the above script and saw this:

.syntax
  %pre
    =render 'class03p25'

%p
  %a(href='class03#lab')
    Class03 Lab
