%h2 Class01 Lab Answer:
%h2 Inside your VirtualBox, Clone mlcl2 repo

%p I did this lab and it was easy.

%p I issued some shell commands:

.syntax
  %pre
    =render 'class01mlcl2b'

%p
  %a(href='class01#mlcl2')
    Class01 Lab

