%h2 Class02 Answer:
%h2 How to deploy a simple app on Heroku?

%p This is an easy task.

%ul
  %li
    Create an account at
    %a(href='https://www.heroku.com' target='x')
      https://www.heroku.com
  
  %li
    Download the heroku-client
    .syntax
      %pre
        %code.bash
          cd ~
          rm -rf heroku.tar.gz heroku heroku-client.tgz heroku-client heroku-linux-amd64.tar.gz
          wget https://cli-assets.heroku.com/heroku-cli/channels/stable/heroku-cli-linux-x64.tar.gz -O heroku.tar.gz
          tar xf heroku.tar.gz
          mv heroku*linux-x64 heroku
          echo 'export PATH=${HOME}/heroku/bin:$PATH' >> ~/.bashrc
          bash
          heroku auth:login
          heroku status

  %li
    Clone an existing app from github.com  
    .syntax
      %pre
        %code.bash
          cd ~
          git clone https://github.com/danbikle/spy611v2 class2app
  %li
    Use the client to create an app:
    .syntax
      %pre
        %code.bash
          cd ~/class2app
          heroku create class2app -s heroku-16
    If someone has already created class2app, try a different name like xyz2app123.
  %li
    Push the clone to heroku.com:
    .syntax
      %pre
        %code.bash
          cd ~/class2app
          git push heroku master
    
%p
  %a(href='class02') Class02
