%h2 Class07 Answer:
%h2 Visualize model effectiveness,
%h2 Visualize model accuracy.

%p I started this lab by writing a script which reports data:
%ul
  %li Long-Only Effectiveness
  %li Model     Effectiveness
  %li Long-Only Accuracy
  %li Model     Accuracy

.syntax
  %pre
    =render 'class07hr15'

%p
  %a(href='class07#hr')
    Class07 Lab
