%h1 Class01
%p
  In Class01 we meet each other and get acquainted with the PCs in the lab.
  If you bring your own laptop, that should work better than the lab computers.
  Initially we work on install of VirtualBox.

%h2 Topics:
%ul
  %li VirtualBox
  %li Test Driven Development (manual)
  %li Rails
  %li selenium-webdriver
  %li Capybara
  %li RSpec
  %li Test Driven Development (automated)

%h2 Questions:
%ul
  %li What are 4 use-cases for VirtualBox?
  %li
    %a(href='/cclasses/class01uc') Answer
  %li What is Test Driven Development?
  %li
    %a(href='/cclasses/class01td') Answer
  %li What is Rails?
  %li
    %a(href='/cclasses/class01rl') Answer
  %li What is selenium-webdriver?
  %li
    %a(href='/cclasses/class01sl') Answer
  %li What is Capybara?
  %li
    %a(href='/cclasses/class01cp') Answer
  %li What is RSpec?
  %li
    %a(href='/cclasses/class01rs') Answer
  %li What is Automated Testing?
  %li
    %a(href='/cclasses/class01at') Answer

%h2#lab Lab (VirtualBox):
%ul
  %li Install VirtualBox on your laptop.
  %li
    %a(href='/cclasses/class01vb') Answer
  %li OPTIONAL: Install ub14jan.ova inside VirtualBox on your laptop (or desktop).
  %li
    %a(href='/cclasses/class01ova') Answer
  %li Install ub16_2018_0206.ova inside VirtualBox on your laptop (or desktop).
  %li
    %a(href='/cclasses/class01ub16') Answer

%h2#ana Lab (Anaconda):
%ul
  %li Inside your VirtualBox, Install Anaconda:
  %li
    %a(href='/cclasses/class01ana1') Answer

%h2#git Lab (git clone):
%ul
  %li Inside your VirtualBox, Clone ml4.us repo
  %li
    %a(href='/cclasses/class01ml') Answer

%h2#cd Lab (ChromeDriver):
%ul
  %li Inside your VirtualBox, Install Google ChromeDriver
  %li
    %a(href='/cclasses/class01ch') Answer
%h2#rspec Lab (Rails/RSpec):
%ul
  %li Inside your VirtualBox, Run an RSpec Automated Test
  %li
    %a(href='/cclasses/class01rs2') Answer


%h2#mlcl2 Lab (mlcl2, Python, Machine Learning, CLI):
%ul
  %li Inside your VirtualBox, Clone mlcl2 repo
  %li
    %a(href='/cclasses/class01mlcl2a') Answer
  %li As Product Manager, Enhance mlcl2
  %li
    %a(href='/cclasses/class01mlcl2b') Answer

%h2#hw1 Homework
%p
  %a(href='/cclasses/class01hw') Questions
