%h2 Class09 Answer:
%h2 Create Linux Account: fx411

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      sudo useradd -m -s /bin/bash -G sudo fx411
      sudo passwd fx411

%p Then I logged into fx411 and continued the lab from the fx411 account.

%p
  %a(href='class09#setup')
    Class09 Lab
