%h2 Class06 Answer:
%h2 Install(Or Reinstall) Anaconda

%p If you like your current installation of Anaconda, this step is optional.

%p For this class I like to use Anaconda 4.4.0 which gives me Python 3.6.1

%p In the ann account of my Linux host, I Reinstalled Anaconda:

.syntax
  %pre
    =render 'class06ana1'
%p
  %a(href='class06#python')
    Class06 Lab
