%h2 Class06 Answer:
%h2 Write scripts which learn from GSPC prices.

%p I think the best time to learn from GSPC prices is at night, right after prices are updated.

%p So I wrote a script called night.bash which is listed below:

.syntax
  %pre
    =render 'class06g11'

%p night.bash depends on this syntax to generate features:

.syntax
  %pre
    =render 'class06g12'

%p genf.py, the Python script which generates features and then writes them to feat.csv is listed below:

.syntax
  %pre
    =render 'class06g13'
    
%p After I create the features, I should learn from them.

%p The bash syntax which gets me started on that task is listed below:

.syntax
  %pre
    =render 'class06g15'

%p learn_tst_rpt.py, the Python script which learns from features is listed below:

.syntax
  %pre
    =render 'class06g14'

%p
  %a(href='class06#gspc')
    Class06 Lab
