%h2 Class03 Answer:
%h2 Calculate RMSE for that line.

%p RMSE is an acronym for Root Mean Square Error.

%p
  %a(href='https://www.google.com/search?q=Statistics+Root+Mean+Square+Error&tbm=isch' target='x')
    https://www.google.com/search?q=Statistics+Root+Mean+Square+Error&tbm=isch
  

.syntax
  %pre
    =render 'class03p16'

%p
  %a(href='class03#lab')
    Class03 Lab
