%h2 Class02 Lab Answer:
%h2 Start an Ubuntu virtualbox and ssh into it.

%p This is an easy lab.

%p First though, know that the shell commands below should run on the host.

%p Avoid the mistake of trying to run virtualbox inside of virtualbox.

%p The shell commands I use to start an Ubuntu virtualbox look like this:

.syntax
  %pre
    %code.bash
      vboxmanage list vms
      vboxmanage startvm ub16_201712a
%p If your host is a windows laptop, I doubt that I can run shell commands.

%p Also, if your host is windows it makes sense to avoid this lab.

%p Most windows users do not use ssh.

%p Anyway, after I start the guest, I can login to it with syntax like this:

.syntax
  %pre
    %code.bash
      ssh -p 6222 -AY ann@localhost

%p If you have X-Windows installed on the host, any X-Window type tool, emacs for example, will display on the host rather than the guest:

%img(src='/class02/ss28.png')



%p
  %a(href='class02#linuxlabs')
    Class02 Lab (Security)
    