%h2 Class04 Answer:
%h2 Test your installation of Java.

%p
  To test my installation of Java, I tried these shell commands:

.syntax
  %pre
    %code.bash
      which java
      echo $JAVA_HOME
      
%p I should see something like this:
.syntax
  %pre
    %code.bash
      dan@a78:~ $ 
      dan@a78:~ $ 
      dan@a78:~ $ which java
      \/home/dan/jdk/bin/java
      dan@a78:~ $ 
      dan@a78:~ $ 
      dan@a78:~ $ echo $JAVA_HOME
      \/home/dan/jdk
      dan@a78:~ $ 
      dan@a78:~ $ 
      dan@a78:~ $ 

%p Next, I tried running a simple Java command:

.syntax
  %pre
    %code.bash
      java -version
      
%p I should see something like this:
.syntax
  %pre
    %code.bash
      dan@a78:~ $ java -version
      java version "1.8.0_152"
      Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
      Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)
      dan@a78:~ $ 
      dan@a78:~ $ 

%p
  %a(href='class04#java')
    Class04 Lab
