%h2 Class06 Answer:
%h2 Install Seaborn into Anaconda

%p I used the conda shell command to install Seaborn

.syntax
  %pre
    %code.bash conda install -c conda-forge seaborn

%p
  %a(href='class06#python')
    Class06 Lab
