%h2 Class03 Answer:
%h2 Download S&P 500 prices from Yahoo, load them into table called prices.

%p I started this lab by calling wget:

.syntax
  %pre
    %code.bash
      cd ~
      
%hr/
%p
  %a(href='class03#lab')
    Class03 Lab
