%h2 Class08 Answer:
%h2
  %a(href='https://github.com/danbikle/rollup' target='x')
    https://github.com/danbikle/rollup
  
%h2 Operate the scripts in the above repo.

%p I operated the scripts in the above repo and collected screen shots.
%p So, just do what I did.

.syntax
  %pre
    =render 'class08rollup11a'

%p
  %a(href='class08#rollup')
    Class08 Lab (Pandas Staged Rollup)
