%h2 Class05 Answer:
%h2 Build a visualization of behavior of optimizer.minimize(loss)

%p I started this lab by finding an example of optimizer.minimize(loss).

%p I found one at the "GET STARTED" URL listed below:
  %a(href='https://www.tensorflow.org/versions/r0.11/get_started/index.html' target='x')
    https://www.tensorflow.org/versions/r0.11/get_started/index.html
  
%p I copied the above example into a file:

.syntax
  %pre
    =render 'class05tf19'

%p
  %a(href='class05#tf1')
    Class05 Lab
