%h2 Class02 Lab Answer:
%h2 Create an AWS account

%p This is an easy lab.

%p Just get your credit-card and click on this link:
%p
  %a(href='https://aws.amazon.com/console/' target='x')
    https://aws.amazon.com/console/


%p Should I use a School-District lab-PC to create an AWS account?
%p No

%p Should I use my own laptop to create an AWS account?
%p Yes, the connection to AWS should be encrypted.

%img(src='/class02/ec2_16-01-11.png')

%p After I create an account, I should login to the AWS console:
%p
  %a(href='https://aws.amazon.com/console/' target='x')
    https://aws.amazon.com/console/

%p I should see something like this:

%img(src='/class02/ec2_16-01-53.png')
%img(src='/class02/ec2_16-03-05.png')

%p I should click the 'EC2' link.

%p I should see something like this:
%img(src='/class02/ec2_16-03-53.png')

%p
  If I see something like that, then I have completed this lab and I am ready to go to the next lab
  which is to create an EC2 instance of Linux.

%p
  %a(href='class02#lab')
    Class02 Lab
    