%h1 Class05
%p In Class05 we start our study of TensorFlow.

%h2 Topics:
%ul
  %li TensorFlow
  %li TensorFlow and Python
  %li Nvidia
  %li GPU
  %li Cuda
  %li CuDNN


%h2 Questions:
%ul
  %li What is TensorFlow?
  %li Why Use TensorFlow?
  %li How to install TensorFlow?
  %li How to operate TensorFlow?
  %li What is Nvidia?
  %li What is GPU?
  %li How to link TensorFlow with Cuda?
  %li How to force TensorFlow to use GPU?

%h2#gpu Lab
%ul
  %li (Optional GPU Lab) 
  %li Buy a GPU Host.
  %li
    %a(href='/cclasses/class05gpu01') Answer

  %li Install Ubuntu 14.04 on GPU host.
  %li
    %a(href='/cclasses/class05ub01') Answer


