%h2 Class05 Answer:
%h2 Install TensorFlow in Anaconda (Unless you did the GPU Lab)

%p This is an easy lab.

%p I did this lab by typing in one shell command:
.syntax
  %pre
    %code.bash
      conda install -c conda-forge tensorflow

%p
  %a(href='class05#tf1')
    Class05 Lab
