%h2 Class07 Answer:
%h2 Use R to create a simple heatmap

%p After some time with Google, I did this lab.

%p The script looks like this:
.syntax
  %pre
    =render 'class07hm10'

%p I saw this:
.syntax
  %pre
    =render 'class07hm11'

%p The heatmap looks like this:
%img(src='/class07/hm10.png')

%p
  %a(href='class07#hm')
    Class07 Lab
