%h2 Class09 Answer:
%h2 Get an Ubuntu 16 Virtual Box

%p For me this was an easy lab. 
%p I got an Ubuntu 16 virtual box from the URL listed below:

%p
  %a(href='https://s3-us-west-2.amazonaws.com/ml4us/ub16aug13d.ova' target='x')
    https://s3-us-west-2.amazonaws.com/ml4us/ub16aug13d.ova
%p
  After I got the download, I clicked on the file and followed the prompts to install it.
%p After installation, I saw the login screen.
%p I logged in as ann.
%p The password to the ann account is: 'a'.

%p
  %a(href='class09#setup')
    Class09 Lab
