%h2 Class01 Lab Answer:
%h2 Run an RSpec Automated Test

%p I wrote a RSpec script to help you with this lab.

%p So, I did this lab and it was easy.

%p I issued some shell commands:

.syntax
  %pre
    =render 'class01rs3'

%p I used byzanz to collect an animated gif:

%img(src='/class01/rs4.gif')

%p
  %a(href='class01#rspec')
    Class01 Lab

