%h2 Class04 Answer:
%h2 Calculate predictions of test data and report effectiveness.

%p This lab required some knowledge.

.syntax
  %pre
    =render 'class04spark63'

%p I saw something like this:
.syntax
  %pre
    =render 'class04spark64'

%p For 2016 test data, I translate the above report into English:
%ul
  %li The Effectiveness of a Long-Only model is 12.34%

  %li The Effectiveness of Negative Logistic Regression predictions  is 1.23%

  %li The Effectiveness of Positive Logistic Regression predictions  is 13.57%

  %li So, for 2016, Logistic Regression beats Long-Only.

  %li The accuracy data is listed below:

  %li Total 2016 observation count: 104+23+97+28 is 252

  %li True Positive Count: 104
  %li True Negative Count: 23

  %li False Positive Count: 97
  %li False Negative Count: 28

  %li Accuracy is (104+23) / 252.0 is 50.4%

%p
  %a(href='class04#spark')
    Class04 Lab
