%h2 Class01 Answer:
%h2 What are 4 use-cases for VirtualBox?

%ul
  %li Personal Computer
  %li
    %p
      I need a Personal Computer to do tasks like send e-mail, listen to music, file taxes,
      surf the web, store documents, and watch Netflix.
      I use a VirtualBox instance as my Personal Computer.
      Before VirtualBox, my Personal Computer was a laptop.
      Compared to VirtualBox, a laptop is a poor Personal Computer.
      The main problem with a laptop is that it is difficult to backup and restore.
      VirtualBox is easy to backup and restore.
      Now that I use VirtualBox, I back it up once a day.
      I have restored VirtualBox instances many times; it is always easy.
      Restoring a laptop from backup is usually not easy.
      Now, when I look at a laptop, I see it as a thing which can run VirtualBox.
      I no longer use a laptop as my Personal Computer.

%p
  %a(href='class08#lab')
    Class08 Lab
