%h2 Class04 Answer:
%h2  Work through the first page of the Spark Quick-Start:

%p
  I found the Spark Tutorial at the URL listed below:
%p
  %a(href='http://spark.apache.org/docs/latest/quick-start.html' target='x')
    http://spark.apache.org/docs/latest/quick-start.html

%p I tried shell and Scala commands listed below:
.syntax
  %pre
    %code.bash
      cd ~/spark
      bin/spark-shell
      val textFile = sc.textFile("README.md")
      textFile.count()
      textFile.first()
      val linesWithSpark = textFile.filter(line => line.contains("Spark"))
      textFile.filter(line => line.contains("Spark")).count()
      textFile.map(line => line.split(" ").size).reduce((a, b) => if (a > b) a else b)
      import java.lang.Math
      textFile.map(line => line.split(" ").size).reduce((a, b) => Math.max(a, b))
      val wordCounts = textFile.flatMap(line => line.split(" ")).map(word => (word, 1)).reduceByKey((a, b) => a + b)
      wordCounts.collect()
      linesWithSpark.cache()
      linesWithSpark.count()
      linesWithSpark.count()



%p I saw some output:
.syntax
  %pre
    =render 'class04spark12'

%p
  %a(href='class04#spark')
    Class04 Lab
