%h2 Class08 Answer:
%h2 Enhance ~fx2/railsfx/test/system/get_tfx_data_test.rb

%p For me this was an easy lab.

%p I enhanced arrays of the loops to get more data.

%p When you study the script, it is obvious how to do that.

%p
  %a(href='class08#op')
    Class08 Lab
