%h2 Class09 Answer:
%h2 Generate Models/Predictions from Features

%p When I started this lab I wanted to build Logistic Regression models for all available observations.
%p After experimentation, I found that this idea was not feasible; it takes too long.

%p So I wrote the script below which builds models for a random sample of observations:

.syntax
  %pre
    =render 'class09s22a'

%p I ran the above script and it needed about 19 hours to run.

%p The resulting CSV files are listed below:

.syntax
  %pre
    =render 'class09s22b'


%p
  %a(href='class09#setup')
    Class09 Lab
