%h2 Class04 Answer:
%h2 Build features column consistent with this demo:
%p
  %a(href='http://spark.apache.org/docs/latest/ml-pipeline.html#example-estimator-transformer-and-param' target='x')
    http://spark.apache.org/docs/latest/ml-pipeline.html#example-estimator-transformer-and-param

%p This lab requires some knowledge.
.syntax
  %pre
    =render 'class04spark48'

%p I saw something like this:
.syntax
  %pre
    =render 'class04spark49'

    
%p
  %a(href='class04#spark')
    Class04 Lab
