%h2 Class09 Answer:
%h2 Get account at truefx.com

%p For me this was an easy lab. 
%p I clicked a link and answered questions:

%p
  %a(href='https://www.truefx.com' target='x')
    https://www.truefx.com

%p
  %a(href='class09#setup')
    Class09 Lab
