%h2 Class01 Answer:
%h2 What is Rails?

%p It is easy to find a definition of Rails:

%p
  %a(href='http://www.google.com/search?q=What+is+Ruby+On+Rails' target='x')
    http://www.google.com/search?q=What+is+Ruby+On+Rails

%p I like Rails for these reasons:

%ul
  %li Rails is easy to learn.
  %li I can easily find help with Rails syntax.
  %li I can easily find syntax examples.
  %li Authentication is easy to setup.
  %li Authorization is easy to setup.
  %li Simple Rails apps are easy and cheap to deploy.
  %li I can easily write software tests for Rails apps.

%p
  %a(href='class01')
    Class01
