%h1 Class04
%p In Class04 we start our study of Apache Spark.

%h2 Topics:
%ul
  %li Apache Spark
  %li Java Installation
  %li Java Operation
  %li Apache Spark Installation
  %li The Best Spark Tutorial
  %li Interactive Spark
  %li Spark Applications
  %li Spark MLlib

%h2 Questions:
%ul
  %li What is Apache Spark?
  %li Which is the best Java for Spark?
  %li How to install Java?
  %li How to operate Java?
  %li How to install Spark?
  %li Which is the best Spark Tutorial?
  %li How to start with Spark REPLs?
  %li How to write a simple Spark Application?
  %li What is Spark MLlib?
  %li How to start with Spark MLlib?
  %li
    %a(href='/cclasses/class04mlstart10') Answer

  

%h2#java Lab (Java):
%ul
  %li On Linux, install Oracle Java.
  %li
    %a(href='/cclasses/class04java10') Answer
  %li Test your installation of Java.
  %li
    %a(href='/cclasses/class04java11') Answer

%h2#spark Lab (Spark):
%ul
  %li On Linux, install Spark.
  %li
    %a(href='/cclasses/class04spark10') Answer
  %li Work through the first page of the Spark Quick-Start Tutorial.
  %li
    %a(href='/cclasses/class04spark11') Answer
  %li Run the first example listed in this URL:
  %li
    %a(href='http://spark.apache.org/docs/latest/ml-pipeline.html#example-estimator-transformer-and-param' target='x')
      http://spark.apache.org/docs/latest/ml-pipeline.html#example-estimator-transformer-and-param
  %li
    %a(href='/cclasses/class04spark12') Answer
  %li Start a script which will predict daily GSPC directions.
  %li
    %a(href='/cclasses/class04spark24') Answer
  %li Add appropriate imports to above script.
  %li
    %a(href='/cclasses/class04spark26') Answer
  %li Add syntax to get GSPC prices from Yahoo.
  %li
    %a(href='/cclasses/class04spark28') Answer
  %li Add syntax to copy prices into a Spark DataFrame.
  %li
    %a(href='/cclasses/class04spark30') Answer
        
  %li Demonstrate SQL syntax to inspect the prices.
  %li
    %a(href='/cclasses/class04spark32') Answer
  %li Use a window-function to create a pctlead column.
  %li
    %a(href='/cclasses/class04spark35') Answer
