%h2 Class01 Answer:
%h2 What is selenium-webdriver?

%p I find selenium-webdriver here:

%p
  %a(href='https://github.com/SeleniumHQ/selenium/tree/master/rb' target='x')
    https://github.com/SeleniumHQ/selenium/tree/master/rb
%p It is a Ruby Gem.

%p It is discussed here:
%p
  %a(href='https://github.com/SeleniumHQ/selenium/wiki/Ruby-Bindings' target='x')
    https://github.com/SeleniumHQ/selenium/wiki/Ruby-Bindings

%p
  %a(href='class01')
    Class01
