%h2 Class08 Answer:
%h2 Transform some data into features

%p I did this lab and it required some knowledge.
%p I typed some shell commands:

.syntax
  %pre
    %code
      mkdir -p ~fx1/Downloads/
      cd       ~fx1/Downloads/
      unzip EURUSD-2016-09.zip
      mkdir fx3
      mv EURUSD-2016-09.csv fx3/

%p Next, I wrote a python script:

.syntax
  %pre
    =render 'class08s20a'

%p Then, I installed Anaconda into the fx1 account:

.syntax
  %pre
    %code
      wget https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh
      bash Anaconda3-5.0.1-Linux-x86_64.sh
      echo 'export PATH="${HOME}/anaconda3/bin:$PATH"' >> ~fx1/.bashrc
      mv ~/anaconda3/bin/curl ~/anaconda3/bin/curl_ana
      bash

%p Next, I ran the python script:

.syntax
  %pre
    %code python f11.py

%p The above script needed 4 minutes to run on my laptop.

%p And, I ran another python script:

.syntax
  %pre
    %code python f12.py

%p which is listed below:

.syntax
  %pre
    =render 'class08s20b'

%p The above script finished in less than two seconds on my laptop.

%p At this point I had data which Logistic Regression could learn from.

%p
  %a(href='class08#setup')
    Class08 Lab
