%h2 Class06 Answer:
%h2 Load keras1 model from file with Python

%p I wrote a script named load_keras1model.bash to start this lab:

.syntax
  %pre
    =render 'class06g19'

%p
  %a(href='class06#gspc')
    Class06 Lab
