%h2 Class07 Answer:
%h2 Create a heatmap from GSPC pctlead and date-features

%p After some time with Google, I did this lab.

%p The script looks like this:
.syntax
  %pre
    =render 'class07hm13'

%p I ran it:
.syntax
  %pre
    =render 'class07hm14'

%p The heatmap looks like this:
%img(src='/class07/hm11.png')

%p
  %a(href='class07#hm')
    Class07 Lab
