%h2 Class01 Lab Answer:
%h2 Install ubsmall2016_0409.ova inside VirtualBox on your laptop.

%p This is easy.

%p Download this file and then click on it:

%p
  %a(href='https://s3-us-west-2.amazonaws.com/bikleiq/ubsmall2016_0409.ova' target='x')
    https://s3-us-west-2.amazonaws.com/bikleiq/ubsmall2016_0409.ova

%p
  %a(href='class01#lab')
    Class01 Lab
