under constr
%h2 Class09 Answer:
%h2 Aggregate Data

%p This lab required some knowledge.

%p The main idea I implement here is that for each pair I should create groups of observations which are spaced 5 minutes apart.

%p Then I use groupby() in Pandas to find mean of price for each group of observations.

.syntax
  %pre
    =render 'class09s20a'


%p
  %a(href='class09#setup')
    Class09 Lab
