%h1 Photos of Replacing Windows10 with Ubuntu 14
%p 2016-10-03

.rotate90img
  %img(src='/class05cuda/IMG_0090.JPG')
  _
  %img(src='/class05cuda/IMG_0091.JPG')
  _
  %img(src='/class05cuda/IMG_0093.JPG')
  _
  %img(src='/class05cuda/IMG_0094.JPG')
  _
  %img(src='/class05cuda/IMG_0095.JPG')
  _
  %img(src='/class05cuda/IMG_0096.JPG')
  _
  %img(src='/class05cuda/IMG_0097.JPG')
  _
  %img(src='/class05cuda/IMG_0098.JPG')
  _
  %img(src='/class05cuda/IMG_0099.JPG')
  _
  %img(src='/class05cuda/IMG_0100.JPG')
  _
  %img(src='/class05cuda/IMG_0101.JPG')
  _
  %img(src='/class05cuda/IMG_0102.JPG')
  _
  %img(src='/class05cuda/IMG_0103.JPG')
  _
  %img(src='/class05cuda/IMG_0104.JPG')
  _
  %img(src='/class05cuda/IMG_0105.JPG')
  _
  %img(src='/class05cuda/IMG_0106.JPG')
  _
  %img(src='/class05cuda/IMG_0107.JPG')
  _
  %img(src='/class05cuda/IMG_0108.JPG')
  _
  %img(src='/class05cuda/IMG_0109.JPG')
  _
  %img(src='/class05cuda/IMG_0110.JPG')
  _
  %img(src='/class05cuda/IMG_0111.JPG')
  _
  %img(src='/class05cuda/IMG_0112.JPG')
  _
  %img(src='/class05cuda/IMG_0113.JPG')
  _
  %img(src='/class05cuda/IMG_0114.JPG')
  _
  %img(src='/class05cuda/IMG_0115.JPG')
  _
  %img(src='/class05cuda/IMG_0116.JPG')
  _
  %img(src='/class05cuda/IMG_0117.JPG')
  _
  %img(src='/class05cuda/IMG_0118.JPG')
  _
  %img(src='/class05cuda/IMG_0119.JPG')
  _
  %img(src='/class05cuda/IMG_0120.JPG')
  _
  %img(src='/class05cuda/IMG_0121.JPG')
  _
  %img(src='/class05cuda/IMG_0122.JPG')
  _
  %img(src='/class05cuda/IMG_0123.JPG')
  _
  %img(src='/class05cuda/IMG_0124.JPG')
  _
  %img(src='/class05cuda/IMG_0125.JPG')
  _
  %img(src='/class05cuda/IMG_0126.JPG')
  _
  %img(src='/class05cuda/IMG_0127.JPG')
  _
  %img(src='/class05cuda/IMG_0128.JPG')
  _
  %img(src='/class05cuda/IMG_0129.JPG')
  _
  %img(src='/class05cuda/IMG_0130.JPG')
  _
  %img(src='/class05cuda/IMG_0131.JPG')
  _
  %img(src='/class05cuda/IMG_0132.JPG')
  _
  %img(src='/class05cuda/IMG_0133.JPG')
  _
  %img(src='/class05cuda/IMG_0134.JPG')
  _
  %img(src='/class05cuda/IMG_0135.JPG')
  _
  %img(src='/class05cuda/IMG_0136.JPG')
  _
  %img(src='/class05cuda/IMG_0137.JPG')
  %p This Laptop now runs Ubuntu 14 instead of windows10.

%p
  %a(href='class05#gpu')
    Class05 Lab
%br/
%br/
%br/
%br/
%br/


