%h2 Class08 Answer:
%h2
  %a(href='https://github.com/danbikle/rollup' target='x')
    https://github.com/danbikle/rollup
  
%h2 Operate the scripts in the above repo.

%p I started by using my browser to get 5 large tar files from the URL listed below:

%p
  %a(href='https://drive.google.com/drive/folders/1jMFSP-_wTtt5rtdtQuQdtPQr6087xz6K' target='x')
    https://drive.google.com/drive/folders/1jMFSP-_wTtt5rtdtQuQdtPQr6087xz6K

%p The names are listed below:
.syntax
  %pre
    %code
      audusd.tar
      eurusd.tar
      gbpusd.tar
      usdcad.tar
      usdjpy.tar

%p Each tar file contains many zip files.

%p Each zip file contains many observations (in CSV format).

%p Each observation is a subsecond sampling of Forex prices.

%p After you get the above tar files, just do what I did.

.syntax
  %pre
    =render 'class08rollup11a'

%p
  %a(href='class08#rollup')
    Class08 Lab (Pandas Staged Rollup)
