%h2 Class04 Answer:
%h2 Copy logr12o.scala to linr11a.scala. Enhance it to use Linear Regression.

%p This lab required some knowledge.

.syntax
  %pre
    =render 'class04spark66'

%p I saw something like this:
.syntax
  %pre
    =render 'class04spark67'

%p For 2016 test data, I translate the above report into English:
%ul
  %li The Effectiveness of a Long-Only model is 12.34%

  %li The Effectiveness of Negative Linear Regression predictions  is -2.47%

  %li The Effectiveness of Positive Linear Regression predictions  is 9.88%

  %li So, for 2016, Long-Only beats Linear Regression.

  %li The accuracy data is listed below:

  %li Total 2016 observation count: 99+90+30+33 is 252

  %li True Positive Count: 99
  %li True Negative Count: 30

  %li False Positive Count: 90
  %li False Negative Count: 33

  %li Accuracy is (99+30) / 252.0 is 51.2%
  %li So, for 2016, Long-Only beats Linear Regression.

%p
  %a(href='class04#spark')
    Class04 Lab
