%h2 Class01 Lab Answer:
%h2 Install ub14jan.ova inside VirtualBox on your laptop.

%p If you really want to use Ubunutu 14, this is easy.

%p I prefer Ubuntu 16 over Ubuntu 14, but if you want to use Ubuntu 14 then follow the instructions below.

%p Download this file and then click on it:
%p
  %a(href='https://drive.google.com/open?id=0Bx3iDDAtxxI4Mk0wNWc5SHdBT0U' target='x')
    ub14jan.ova
  
%p Be patient, maybe do this at home before class; this is a large file: 4.1GB

%p I downloaded the above file to my laptop.

%p I clicked on the file and optimally answered the wizard questions.

%p I saw something like this:

%img(src='/class01/ova1.png')

%p I clicked the green-start button.

%p I saw something like this:

%img(src='/class01/ova2.png')

%p I clicked the button and optimally answered the wizard questions.

%img(src='/class01/ova3.png')

%p Ubuntu started:

%img(src='/class01/ova4.png')

%p The password for the ann account is 'a':

%img(src='/class01/ova5.png')

%p I clicked on the terminal icon and entered shell commands:

.syntax
  %pre
    %code
      sudo apt-get update
      sudo apt-get upgrade

%p Eventually the last command finished and then I rebooted the instance.

%p After bootup and login, the machine asked me:

%p A new version of Ubuntu is available. Would you like to upgrade?

%p I answered: Ask Me Later

%p I issued more shell commands:

.syntax
  %pre
    =render 'class01ova1'

%p Then I rebooted again.

%p After bootup, I installed Ruby 2.3.1 with these shell commands

.syntax
  %pre
    =render 'class01ova2'

%p
  %a(href='class01#lab')
    Class01 Lab
