%h2 Class08 Answer:
%h2 Create Linux Account: fx1

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      sudo useradd -m -s /bin/bash -G sudo fx1
      sudo passwd fx1

%p
  %a(href='class08#setup')
    Class08 Lab
