%h2 Class03 Answer:
%h2 Install MADlib 1.9 into Postgres 9.3 on CentOS 7.

%p MADlib installation is documented here:

%p
  %a(href='https://cwiki.apache.org/confluence/display/MADLIB/Installation+Guide#InstallationGuide-QuickStartWithBinaries' target='x')
    https://cwiki.apache.org/confluence/display/MADLIB/Installation+Guide#InstallationGuide-QuickStartWithBinaries

%p The instructions I follow to install MADlib are listed below:
%p
  %a(href='https://github.com/danbikle/madlib_demos/blob/master/madlib_installation_steps.txt' target='x')
    https://github.com/danbikle/madlib_demos/blob/master/madlib_installation_steps.txt

%p If I am fast and diligent I can work my way through those instructions in about 25 minutes.

%p If I am in a hurry, I just download a VirtualBox instance which has MADlib already installed.

%p
  %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4YlVKZVJsLWtXMTg' target='x')
    madlib2016a.ova

%p The password of the above instance is: 'a'

%p Be patient, maybe do this at home before class; this is a large file: 2.7GB

%hr/
%p
  %a(href='class03#lab')
    Class03 Lab
