%h2 Class03 Answer:
%h2 Use Pandas to plot prices of GSPC for 2016.

%p One way to learn Pandas is to study examples.
%p I prefer to learn Pandas by asking good questions of Google:
%p
  %a(href='http://www.google.com/search?q=In+python+pandas+how+to+plot+a+line' target='x')
    http://www.google.com/search?q=In+python+pandas+how+to+plot+a+line
.syntax
  %pre
    =render 'class03p11'