%h2 Class04 Answer:
%h2 Build a DataFrame full of training data.

%p This lab required some knowledge.

.syntax
  %pre
    =render 'class04spark54'

%p I saw something like this:
.syntax
  %pre
    =render 'class04spark55'

    
%p
  %a(href='class04#spark')
    Class04 Lab
