%h2 Class06 Answer:
%h2 Operate iris_model in JavaScript.

%p I operated iris_model in JavaScript using my Chrome-browser.

%p I got started by calling a simple shell script to start a web server:

.syntax
  %pre
    %code.bash
      cd ~ann/mljs
      \./http.bash

%p Next, I browsed a URL: http://localhost:8080/iris2.html

%p I saw this:
%img(src='/class06/iris22.png')
%hr/

%p Asking the model to issue a prediction is easy; I just pressed the predict-button.

%p To see JavaScript create the model, I right-clicked on the page to bring up the inspect-UI:

%img(src='/class06/iris24.png')
%hr/


%p
  %a(href='class06#iris')
    Class06 Lab
