%h2 Class05 Answer:
%h2 Run a Simple TensorFlow Demo

%p This is an easy lab.

%p I found a simple demo by loading this URL:

%p
  %a(href='https://www.tensorflow.org' target='x')
    https://www.tensorflow.org

%p On the above page I found a link: "GET STARTED"

%p It sent me to the URL listed below:
%p
  %a(href='https://www.tensorflow.org/get_started' target='x')
    https://www.tensorflow.org/get_started

%p There I found a simple page of syntax:

.syntax
  %pre
    =render 'class05tf11'

%p I pasted that syntax into a file and ran it.

%p I saw this:

.syntax
  %pre
    =render 'class05tf11'

%p
  %a(href='class05#tf1')
    Class05 Lab
