%h1 Class07
%p In Class07 we start our study of R

%h2 Topics:
%ul
  %li Installation
  %li Heatmaps
  %li Packages
  %li library

%h2 Questions:
%ul
  %li What is R?
  %li How to install R?
  %li How to run R?
  %li How to run R scripts?
  %li Why use R?
  %li How does R compare to Python?
  %li How does R compare to Ruby?
  %li How does R compare to Scala?
  %li What is an R package?
  %li How to install R package?
  %li How to use R package?

%h2#hm Lab (Heatmaps)
%ul
  %li Install R.
  %li Start an R prompt.
  %li Ask it for help about something.
  %li Write an R script and then run it.
  %li Use R to create a simple heatmap.
  %li Create a heatmap from GSPC pctlead and date-features.
  %li Create a heatmap from GSPC pctlead, pctlag1, and date-features.
%h2#hmr Lab (Heuristic Model)
%ul
  %li Build a heuristic pctlead model from pctlag1, and date-features.
  %li Test the model.
  %li Visualize model effectiveness.
  %li Visualize model accuracy.
%h2#logr Lab (Logistic Regression Model)
%ul
  %li Build a Logistic Regression model from pctlag1, and date-features.
  %li Test the model.
  %li Visualize model effectiveness.
  %li Visualize model accuracy.
%h2#site Lab (Website)
%ul
  %li Build a site which explains and compares the two models.
  %li Deploy the site to the web.
  %li Assign a domain name to the site.
