%h2 Class07 Answer:
%h2 Write an R script and then run it

%p I did this lab; it was easy:
.syntax
  %pre
    %code
      R -f hello.r 

%p The script looks like this:
.syntax
  %pre
    =render 'class07in8'

%p I saw this:
.syntax
  %pre
    =render 'class07in7'

%p I noticed that unlike Python, Ruby, JavaScript, Scala, and Java, R wants to 'echo' each statement as it runs.

%p Usually I like this behavior.

%p
  %a(href='class07#hm')
    Class07 Lab
