%h2 Class03 Answer:
%h2 Use Linear Algebra to fit a line to GSPC 2016 price points

%p I use NumPy, Pandas below.

.syntax
  %pre
    =render 'class03p18'

%p I ran the above script and saw this:

.syntax
  %pre
    =render 'class03p19'

%p Now that I have beta, I can calculate a prediction:

.syntax
  %pre
    =render 'class03p21'

%p Prediction:
.syntax
  %pre
    %code.bash
      dan@h79:~/ml4/public/class03demos $ python class03p14.py
      I predict the price 70 days after the first price to be:
      [[ 2025.7213821]]
      Using scalars, I predict the price 70 days after the first price to be:
      2025.7186
      dan@h79:~/ml4/public/class03demos $ 
      dan@h79:~/ml4/public/class03demos $

%p
  %a(href='class03#lab')
    Class03 Lab
