%h2 Class08 Answer:
%h2 Install chromedriver in /home/fx1/bin/

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx1
      wget http://chromedriver.storage.googleapis.com/2.25/chromedriver_linux64.zip
      unzip chromedriver_linux64.zip
      mkdir -p        ~/bin/
      mv chromedriver ~/bin/
      echo 'export PATH="${HOME}/bin:$PATH"' >> ~fx1/.bashrc
      bash
      which chromedriver
      chromedriver --help
%p
  %a(href='class08#setup')
    Class08 Lab
