%h2 Class04 Answer:
%h2 On Linux install Apache Spark.

%p
  To install Apache Spark, I used the syntax below to download a file:
.syntax
  %pre
    %code.bash
      cd ~/Downloads/
      rm -f spark-2.2.1-bin-hadoop2.7.tgz
      wget http://mirrors.ocf.berkeley.edu/apache/spark/spark-2.2.1/spark-2.2.1-bin-hadoop2.7.tgz
%p After the download, I ran some shell commands:
.syntax
  %pre
    %code.bash
      cd ~
      rm -rf spark spark-2.2.1-bin-hadoop2.7
      tar xf ~/Downloads/spark-2.2.1-bin-hadoop2.7.tgz
      ln -s spark-2.2.1-bin-hadoop2.7 spark
      echo 'export PATH=${HOME}/spark/bin:$PATH' >> ~/.bashrc
      bash
      
%p
  %a(href='class04#spark')
    Class04 Lab
      