%h2 Class03 Answer:
%h2
  Write/Run a script which combines:
%ul
  %li Python
  %li Pandas
  %li SQLAlchemy
  %li CSV data
  %li Postgres

%p This is an easy lab.

%p I wrote this script:

.syntax
  %pre
    =render 'class03pdsql11'

%p
  %a(href='class03#psy')
    Class03 Lab
    