%h2 Class05 Answer:
%h2 Enhance Ubuntu 16.04.

%p For this step I added some packages:

.syntax
  %pre
    =render 'class05ub16enh1'
%p Sometimes apt will fail immediately after boot.
%p I work-around this bug by waiting 10 minutes after boot.

%p
  %a(href='class05#gpu')
    Class05 Lab
