%h2 Class03 Answer:
%h2 Write Pandas syntax which mimics this SQL:
.syntax
  %pre
    =render 'class03pd32'

%p I did this lab by writing the script listed below:

.syntax
  %pre
    =render 'class03pd34'

%p I saw this:

.syntax
  %pre
    =render 'class03pd35'

%p
  %a(href='class03#lab')
    Class03 Lab
