%h2 Class09 Answer:
%h2 Install Anaconda Python in fx411 account

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      wget https://repo.continuum.io/archive/Anaconda3-4.2.0-Linux-x86_64.sh
      bash Anaconda3-4.2.0-Linux-x86_64.sh
      echo 'export PATH="${HOME}/anaconda3/bin:$PATH"' >> ~fx411/.bashrc
      mv ~/anaconda3/bin/curl ~/anaconda3/bin/curl_ana
      bash
%p
  %a(href='class09#setup')
    Class09 Lab
