%h2 Class06 Answer:
%h2 Install(Or Reinstall) Node.js

%p In the ann account of my Linux host, I reinstalled Node.js:

.syntax
  %pre
    =render 'class06node1'
%p
  %a(href='class06#node')
    Class06 Lab
