%h2 Class03 Answer:
%h2
  Write/Run a script which combines:
%ul
  %li Python
  %li Pandas
  %li SQLAlchemy
  %li CSV data
  %li Postgres

%p If I have Postgres installed, this is an easy lab.
%p If I don't have Postgres installed, I install it with the help from the instructions at the URL listed below:
%p
  %a(href='https://ml4.herokuapp.com/cclasses/class03pg01' target='x')
    https://ml4.herokuapp.com/cclasses/class03pg01

%p After I installed Postgres, using the above instructions, I wrote this script:

.syntax
  %pre
    =render 'class03pdpost11'

%p When I ran the above script I saw this:

.syntax
  %pre
    =render 'class03pdpost11out'

%p The above script does these tasks:
%ul
  %li
    Load
    %a(href='https://tkrprice.herokuapp.com/static/gspc.csv' target='x')
      https://tkrprice.herokuapp.com/static/gspc.csv
    into a DataFrame: prices_df
  %li Creates a SQLAlchemy engine to connect Pandas to Postgres
  %li Copies almost 17,000 rows from prices_df into table: prices
  %li Selects all rows from prices into DataFrame: prices2_df
  %li I call it the Pandas-Postgres-Round-Trip-Demo.
%p
  %a(href='class03#psy')
    Class03 Lab
    