%h2 Class04 Answer:
%h2 Install IntelliJ IDE, add Scala Plugin to it

%p You can learn a little about IntelliJ at the URL listed below:

%p
  %a(href='https://www.jetbrains.com/idea/' target='x')
    https://www.jetbrains.com/idea/

%p IntelliJ depends on Java so I installed that first.

%p
  %a(href='/cclasses/class04java10') How to Install Java

%p If you have installed java already, skip that step.

%p Next I downloaded IntelliJ using a shell command:

.syntax
  %pre
    %code.bash
      cd ~/Downloads
      wget https://download-cf.jetbrains.com/idea/ideaIC-2017.3.2.tar.gz

%p If you want, you can download it from their webpage:

%p
  %a(href='https://www.jetbrains.com/idea/download/#section=linux' target='x')
    https://www.jetbrains.com/idea/download/#section=linux
  

%hr/

%p
  %a(href='class04#intellij')
    Class04 Lab
