%h2 Class07 Answer:
%h2 Ask it for help about something

%p I did this lab; it was easy:
.syntax
  %pre
    %code
      ?data.frame

%p I saw this:
.syntax
  %pre
    =render 'class07in5'

%p
  %a(href='class07#hm')
    Class07 Lab
