%h2 Class02 Answer:
%h2 What is Git and why use it?

%p The way to learn Git is to think of it as a system of nouns and verbs.

%p I list the verbs first:

%ul
  %li Initialize
  %li Clone
  %li Fork
  %li Commit
  %li Fetch
  %li Pull
  %li Push
  %li Log
  %li Grep

%p The nouns of Git are listed below:

%ul
  %li Repository (AKA repo)
  %li Remote Repository
  %li Branch
  %li Commit
  %li Clone
  %li Fork
  %li Working Set
  %li Pull Request
  %li Git Server

%p Next, I combine the verbs with nouns:

%p
  %a(href='class02') Class02
