%h1 Emacs Cheat Sheet

%p Useful Emacs keystrokes:

%ul
  %li ctrl-G issues command: Quit
  %li ctrl-G will Quit an Emacs command gone bad
  %li ctrl-x,ctrl-f
  %li ctrl-x,ctrl-f issues command: find-file 
  %li ctrl-x,2 issues command: split-window-below
  %li ctrl-x,3 issues command: split-window-right
  %li ctrl-x,1 issues command: delete-other-windows
  %li ctrl-k   issues command: kill-line
  %li ctrl-y   issues command: yank
  %li ctrl-r   issues command: isearch-backward
  %li ctrl-x,ctrl-h issues command: help-for-help

%p I start an emacs command by pressing Esc, then x.

%p I can type a partial command then press Tab.
%p Useful Emacs commands:

%ul
  %li shell
  %li find-file
  %li buffer-menu
  %li save-buffer
  %li delete-other-windows
  %li split-window-below
  %li split-window-right
  %li delete-other-windows
  %li kill-line
  %li yank
  %li help-for-help
  %li search-backward
  %li search-forward
  %li rename-buffer
  
  