%h2 Class05 Answer:
%h2 Buy a GPU Host.

%p A GPU host obviously needs a GPU inside.

%p Also it needs to run Ubuntu 14.04.
%p Why?
%p The version of TensorFlow we want to install depends on Cuda 7.5 which depends on Ubuntu 14.04 which is not very recent but still an excellent quality OS.
%p As of 2016-10-03 that is my opinion, but that will probably change by 2017.

%p Perhaps the easiest way to get a GPU host is to rent one from AWS.
%p Another easy way to get a GPU host is to buy a laptop from zareason.com:
%p
  %a(href='http://zareason.com/shop/Strata-8110.html' target='x')
    http://zareason.com/shop/Strata-8110.html
%p The order form in the above URL lists Ubuntu 16.04 as the default.
%p If I decide to buy a laptop from ZaReason, I should ask them to install Ubuntu 14.04.

%p If you enjoy installing Linux and want a bargain laptop, you could buy something like this laptop from costco:
%p
  %a(href='http://www.costco.com/Acer-Aspire-V15-Laptop---Intel-Core-i5---4K-Ultra-HD---2GB-Graphics.product.100278251.html' target='x') Acer-Aspire-V15-Laptop
  
.syntax
  %pre
    Acer Aspire V15 Laptop - Intel Core i5 - 4K Ultra HD - 2GB Graphics
    
    Item #1048156
    Your Price 599.97$
    
    Shipping & Handling Included*
    
    Processor & Memory:
    
    Intel® Core™ i5-6300HQ Processor at 2.3GHz
    8GB DDR4 (2-DIMM) RAM
    
    Drives:
    
    1TB 5400RPM SATA Hard Drive
    No Optical Drive
    
    Operating System:
    
    Microsoft® Windows 10
    
    Graphics & Video:
    
    15.6" 4K Ultra HD Widescreen LED-backlit (3840 x 2160) Display
    2GB NVIDIA GeForce 950M Graphics

%p
  Notice that the above laptop has: 
  %a(href='http://www.google.com/search?q=NVIDIA+GeForce+950M' target='x')
    NVIDIA GeForce 950M

%p That is a GPU. We want that.

%p If you obtain the above laptop, the next step is to replace Windows10 with Ubuntu 14.

%p The difficult part of this task is interacting with a user interface called 'BIOS'.

%p An example of me enhancing the BIOS so I may install Ubuntu 16.04 on an HP laptop is listed below:
%p
  %a(href='https://ub101.herokuapp.com/' target='x')
    https://ub101.herokuapp.com/

%p
  %a(href='class05#gpu')
    Class05 Lab
