%h2 Class05 Answer:
%h2 Buy a GPU Host: Cheap Answer

%p Currently Costco offers an HP-Laptop with a GPU for $600:

%p
  %a(href='http://www.google.com/search?q=HP+Laptop+with+NVIDIA+at+Costco' target='x')
    http://www.google.com/search?q=HP+Laptop+with+NVIDIA+at+Costco

%p In 2018 I have had good luck installing Ubuntu 16.04 on a variety of HP laptops.

%p
  %a(href='class05#gpu')
    Class05 Lab
  

