%h2 Class03 Answer:
%h2 Write NumPy syntax which does something similar to the Pandas syntax below:

.syntax
  %pre
    =render 'class03pd48'  

%p I ran the above script and saw this:

.syntax
  %pre
    =render 'class03pd49'

%p I can see that the above script creates a column named pctlag1 from closep.

%p Each time closep is observed, pctlag1 tells me how much closep has changed after the previous observation.

%p Also the script creates a similar column named pctlead.

%p I have two ways to understand pctlead.

%p The easiest way is to see pctlead is that it is a shifted version of pctlag1.

%p Or, today's pctlag1 is yesterday's pctlead.

%p Another way to see it is as a one day look into the future, for each day in the past.

%p Today, however, pctlead is unknown because closep for tomorrow is unknown.

%p So the above script uses Pandas shift() to help me compute pctlag1 and pctlead.

%p A way to compute pctlag1, pctlead using NumPy is displayed below:

.syntax
  %pre
    =render 'class03np18'

%p I ran it and saw this:

.syntax
  %pre
    =render 'class03np19'

%p That report looks different than the report from Pandas (which has an easier to read format) but the values from each report do match.

%p Notice that Pandas handles certain data-endpoints differently.

%p For example the 2016-07-29 row lists NaN as the value for pctlead.

%p In the NumPy report the same row lists 0.0 as the value for pctlead.

%p Another obvious difference between the two reports is that Pandas labels the columns and NumPy does not.

%p
  %a(href='class03#nppd')
    Class03 Lab
