%h2 Class02 Lab Answer:
%h2 Create EC2 instance

%p This is an easy lab.

%p I clicked this link:
%p
  %a(href='https://console.aws.amazon.com' target='x')
    https://console.aws.amazon.com
  

%p AWS might ask me to login.

%p I clicked the EC2 link.

%p I should see something like this:
%img(src='/class02/ec2_16-03-53.png')

%p Next, I clicked the blue button.

%p I saw something like this:
%img(src='/class02/ec2_16-04-52.png')

%p I interacted with a series of pages:

%img(src='/class02/ec2_16-05-19.png')
%hr/
%img(src='/class02/ec2_16-06-04.png')
%hr/
%img(src='/class02/ec2_16-06-32.png')
%hr/
%img(src='/class02/ec2_16-07-06.png')
%hr/
%img(src='/class02/ec2_16-07-28.png')

%hr/

%ul
  
  %li I used ssh to connect to my new EC2 instance:
  %li
    .syntax
      %pre
        =render 'class02ec23'
  %li I do the above step from home; the network in room-K1 blocks outbound ssh connections.
  %li I terminated the EC2 instance because I did not need it anymore:
  %li
    .syntax
      %pre
        =render 'class02ec24'
  %li
    %img(src='/class02/ec2k.png')
  %li
    %img(src='/class02/ec2l.png')
  
  
%p
  %a(href='class02#lab')
    Class02 Lab
