%h2 Class02 Lab Answer:

%p This is an easy lab.

%p The shell commands I used to do this lab are listed below:

.syntax
  %pre
    %code.bash
      sudo useradd -m -s /bin/bash -G sudo hal
      sudo passwd hal
      ssh -AY hal@localhost
      git clone https://github.com/danbikle/spy611v2
      wget https://cli-assets.heroku.com/branches/stable/heroku-linux-amd64.tar.gz
      tar zxf heroku-linux-amd64.tar.gz
      echo 'export PATH=${HOME}/heroku/bin:$PATH' >> ~hal/.bashrc
      bash
      heroku auth:login
      heroku status
      cd ~hal/spy611v2
      heroku create halapp123
      git push heroku master
%p
  %a(href='class02#heroku')
    Class02 Lab (Heroku)
