%h2 Class06 Answer:
%h2 Start mljs webserver

%p I issued some shell commands:

.syntax
  %pre
    %code.bash
      cd ~ann/mljs/
      npm i
      \./http.bash
      
%p I browsed the URL: http://localhost:8080

%p
  %a(href='class06#node')
    Class06 Lab
