%h2 Class03 Answer:
%h2
  Work through these demos:
  %a(href='https://github.com/danbikle/madlib_demos' target='x')
    https://github.com/danbikle/madlib_demos

%p I captured screen activity of me starting this lab:

.syntax
  %pre
    =render 'class03m17a'
%p To understand the heart-attack prediction demo, read the comments in this script:
%p
  %a(href='https://github.com/danbikle/madlib_demos/blob/master/demo10.sql' target='x')
    https://github.com/danbikle/madlib_demos/blob/master/demo10.sql
  
%hr/
%p
  %a(href='class03#madlib')
    Class03 Lab
