%h2 Class04 Answer:
%h2 Install IntelliJ IDE, add Scala Plugin to it

%p You can learn a little about IntelliJ at the URL listed below:

%p
  %a(href='https://www.jetbrains.com/idea/' target='x')
    https://www.jetbrains.com/idea/

%p IntelliJ depends on Java so I installed that first.

%p
  %a(href='/cclasses/class04java10') How to Install Java

%p If you have installed java already, skip that step.

%p Next I downloaded IntelliJ using a shell command:

.syntax
  %pre
    %code.bash
      cd ~/Downloads
      rm -f ideaIC-2017.3.2-no-jdk.tar.gz
      wget https://download-cf.jetbrains.com/idea/ideaIC-2017.3.2-no-jdk.tar.gz

%p If you want, you can download it from their webpage:

%p
  %a(href='https://www.jetbrains.com/idea/download/#section=linux' target='x')
    https://www.jetbrains.com/idea/download/#section=linux

%p Next I issued some shell commands to install it:

.syntax
  %pre
    =render 'class04intellij12'

%p Next, I started it with a shell command:

.syntax
  %pre
    %code.bash ~/idea/bin/idea.sh

%p Then, I captured some screen shots:

%img(src='/class04/id10.png')
%hr/
%p Next, I saw this:
%img(src='/class04/id11.png')
%hr/
%p I "clicked-through", I saw this:
%img(src='/class04/id12.png')
%hr/
%p I "clicked-through", I saw this:
%img(src='/class04/id13.png')
%hr/
%p I "clicked-through", I saw this:
%img(src='/class04/id14.png')
%hr/
%p I wanted none of the above plugins.
%p I disabled all of them:
%img(src='/class04/id15.png')
%hr/
%p I saw two plugins I like:
%ul
  %li Scala
  %li IDE Features Trainer
%img(src='/class04/id16.png')
%hr/
%p I picked plugins: Scala and IDE Features Trainer:
%img(src='/class04/id17.png')
%hr/
%p I saw what I call the "Welcome Screen":
%img(src='/class04/id18.png')
%hr/
%p I clicked configure in lower left:
%img(src='/class04/id19.png')
%hr/
%p I clicked "System Settings".
%p I unchecked "Reopen last project on startup".
%p During startup I want to see "Welcome Screen".
%p During startup I do not want to see "Last project on startup":
%img(src='/class04/id20.png')
%hr/
%p I clicked OK which sent me to "Welcome Screen":
%img(src='/class04/id21.png')
%hr/
%p I clicked "Learn IntelliJ IDEA".
%p I saw "Tip of the Day":
%img(src='/class04/id22.png')
%hr/
%p I clicked through and saw: "LearnProject":
%img(src='/class04/id23.png')
%hr/
%p I went to the first lesson in "LearnProject":
%img(src='/class04/id24.png')
%hr/
%p I spent an hour with "LearnProject".
%p LearnProject assumed I was a Java developer.
%p Much of the learning experience in LearnProject could be applied to working with Scala in IntelliJ so LearnProject, is worth the effort.

%p Next I shutdown IntelliJ.

%p I started it with a shell command:

.syntax
  %pre
    %code.bash ~/idea/bin/idea.sh

%p I saw the "Welcome Screen":
%img(src='/class04/id30.png')
%hr/

%p I clicked "Create New Project".
%p I saw this:
%img(src='/class04/id32.png')
%hr/

%p I clicked "Scala" on the left, then "sbt"
%img(src='/class04/id34.png')
%hr/

%p I clicked through:
%img(src='/class04/id36.png')
%hr/

%p I clicked finish.
%p The laptop got busy and then showed me this:
%img(src='/class04/id40.png')
%hr/

%p At the top-left I clicked "File".
%p I clicked "New".
%p I clicked "Scala Worksheet".
%p I called it: "dan101".
%p I saw this:
%img(src='/class04/id42.png')
%hr/

%p I typed some scala syntax into dan101.sc:

.syntax
  %pre
    %code.scala println("Hello Scala Work Sheet dan101.sc")

%p The laptop got busy and then showed me this:
%img(src='/class04/id44.png')
%hr/

%p TO BE CONTINUED ...

%hr/
%p
  %a(href='class04#intellij')
    Class04 Lab
