%h1 Class10
%p In Class10 we build a Machine Learning API server.

%h2 Topics:
%ul
  %li Flask-RESTful
  %li Keras
  %li SQLAlchemy

%h2 Questions:
%ul
  %li What is Flask-RESTful?
  %li Why use Flask-RESTful?
  %li What is Keras?
  %li Why use Keras?
  %li What is SQLAlchemy?
  %li Why use SQLAlchemy?
  
  
%h2#setup Lab (Setup)

%ul
  %li Download:
  %li ub16feb2b.ova (Ubuntu 16.04 VirtualBox Instance 8.1 GB):
  %li
    %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU' target='x')
      https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU


%h2 UNDER CONSTRUCTION...

  
    

