%h2 Class04 Answer:
%h2 Can you transform logr12o.scala into logr12o.python?

%p I like Python:

.syntax
  %pre
    =render 'class04logr12o1'

%p I captured output from the above script:

.syntax
  %pre
    =render 'class04logr12o2'

%p The results are different than the results from Spark.

%p I should check both scripts for bugs.

%p
  %a(href='class04#spark')
    Class04 Lab
