%h2 Class07 Answer:
%h2 Use R to install a package named: "gplots"

%p This is an easy lab.

%p I did this lab by typing one command at the R prompt and then answering "y" to to two questions.

.syntax
  %pre
    %code.bash
      install.packages("gplots", repos="http://cran.us.r-project.org")

%p
  %a(href='class07#hm')
    Class07 Lab
