%h2 Class09 Answer:
%h2 Get data from truefx.com

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx411/fx411/
      echo 'export PATH="/home/fx411/fx411/bin":$PATH' >> ~fx411/.bashrc
      bash
      which chromedriver
      bin/rspec spec/features/truefx_spec.rb

%p A chromedriver browser came to life and logged into truefx.com
%p Then it downloaded zip files into ~fx411/Downloads/

%p
  %a(href='class09#setup')
    Class09 Lab
