%h2 Class03 Answer:
%h2 Write/Run a simple Psycopg 2 script

%p I used Google to find the Psycopg 2 documentation and then I wrote a script:

.syntax
  %pre
    =render 'class03psy11'

%p I ran the above script and captured screen output:

.syntax
  %pre
    =render 'class03psy12'

%p
  %a(href='class03#psy')
    Class03 Lab
    