%h2 Class06 Answer:
%h2 Install Keras into Anaconda

%p I used the conda shell command to install Keras

.syntax
  %pre
    %code.bash conda install -c conda-forge keras

%p
  %a(href='class06#python')
    Class06 Lab
