%h2 Class06 Answer:
%h2 Operate iris2.html

%p I visited http://localhost:8080/iris2.html and saw this:

%img(src='/class06/iris22.png')

%hr/

%p I used the page to issue some predictions:

%img(src='/class06/iris23.png')

%p
  %a(href='class06#node')
    Class06 Lab
