%h1 Class06
%p In Class06 we start our study of JavaScript.

%h2 Topics:
%ul
  %li JavaScript
  %li Node.js
  %li Keras

%h2 Questions:
%ul
  %li What is a good site for JavaScript examples?
  %li
    Answer: Right Hand Side of:
    %a(href='http://coffeescript.org' target='x')
      http://coffeescript.org
  
  %li What is Node.js?
  %li Why use Node.js?
  %li What is Keras?
  %li Why use Keras?
  %li What is Seaborn?
  %li Why use Seaborn?

%h2#python Lab (Python/Keras)
%ul
  %li Install (Or Reinstall) Anaconda
  %li
    %a(href='/cclasses/class06ana') Answer
  %li Install Keras into Anaconda
  %li
    %a(href='/cclasses/class06keras') Answer
  %li Install Seaborn into Anaconda
  %li
    %a(href='/cclasses/class06seaborn') Answer
%h2#node Lab (Node.js)
%ul
  %li Install (Or Reinstall) Node.js
  %li
    %a(href='/cclasses/class06node') Answer
  %li Clone https://github.com/danbikle/mljs
  %li
    %a(href='/cclasses/class06mljs1') Answer
  %li Start mljs webserver
  %li Operate iris2.html
%h2#iris Lab (iris_model)
%ul
  %li Enhance iris_model
  %li Operate iris_model in Python
  %li Operate iris_model in JavaScript
  