%h2 Class05 Answer:
%h2 Install Ubuntu 14.04 on GPU host.

%p Installing Ubuntu 14.04 is usually an easy task.

%p I start by buying a blank 8GB USB stick.

%p Next I insert the stick into the USB port and then make note of device-path of the stick.

%p Then I download a copy of the Ubuntu 14.04 Desktop ISO file:

%p
  %a(href='http://releases.ubuntu.com/14.04/ubuntu-14.04.4-desktop-amd64.iso' target='x')
    ubuntu-14.04.4-desktop-amd64.iso
.syntax
  %pre
    %code.bash
      cd ~/Downloads
      rm -f ubuntu-14.04.4-desktop-amd64.iso
      wget http://releases.ubuntu.com/14.04/ubuntu-14.04.4-desktop-amd64.iso
%p Next I copy the ISO file into the USB device path:
.syntax
  %pre
    %code.bash
      sudo dd if=ubuntu-14.04.4-desktop-amd64.iso of=/dev/sdb5

%p
  Another way to copy the ISO file onto the USB drive is to use a Linux utility called the Startup-Disk-Creator:
%p
  %a(href='http://www.google.com/search?q=Ubuntu+Startup+Disk+Creator' target='x')
    http://www.google.com/search?q=Ubuntu+Startup+Disk+Creator
  
%p After I copy the ISO file onto the USB drive, I boot the laptop off the USB drive.

%p After the laptop boots I interact with a simple wizard-UI to install Ubuntu onto the laptop.

%p I collect photos of me going through this process to install 16.06 onto an HP Laptop during the summer of 2016:
%p
  %a(href='https://ub101.herokuapp.com/' target='x')
    https://ub101.herokuapp.com/
  

%p
  %a(href='class05#gpu')
    Class05 Lab
