%h2 Class09 Answer:
%h2 Enhance Ubuntu

%p The main idea here is to setup a development environment with all the packages I might need.
%p I typed a large shell command:

.syntax
  %pre
    =render 'class0811a'

%p
  %a(href='class09#setup')
    Class09 Lab
