%h2 ml4.us Class02 Homework Questions
%ul
  %li

  %li
    Which parts of AWS interest you the most?
  %li
    Why?
    
  %li
    Which parts of Linux are most difficult for you?
    
  %li
    What is Git and why use it?
    
  %li
    Why should you know about Heroku?
    
  %li
    What are alternatives to Heroku?
    
  %li
    Who competes with AWS?
    
  %li
    Why should you know about AWS competitors?
    
  %li
    What is the Linux name for a folder?
    
  %li
    In Linux how to see if a folder is out of space?
    
  %li
    In Linux how to get more space for a folder?
    
  %li
    In Linux how to see if RAM is out of space?
    
  %li
    In Linux how to get more space for RAM?
    
  %li
    In Linux how to see if CPU is near 100% ?
    
  %li
    In Linux how to lower CPU utilization?
    
  %li
    How is /etc/group related to /etc/passwd ?
    
  %li
    How to make my home folder readable to only me?
    
  %li
    How to make my home folder readable to the public?
    
  %li
    How to get the hostname of an IP address?
    
  %li
    If I have users bob1, bob2 on a Linux host, can they use different versions of Python? 
    
  %li
    How to see which version of Python used by bob1?
    
  %li
    Can you list three ways to install Python?
    
  %li
    How to see which Linux packages are installed in your Linux host?
    
  %li
    On Ubuntu, how is apt-get update different than apt-get upgrade?
    
  %li
    On Centos, how is yum update different than yum upgrade?
    
  %li
    Does Amazon Linux use apt-get or yum?
    
  %li
    What is ssh?
    
  %li
    What is an ssh tunnel?
    
  %li
    What does it mean to 'port-forward'?
    
  %li
    How to run ssh on windows?
    
  %li
    How to display Emacs on host_a but have it edit files on host_b?
    
  %li
    What are your 5 favorite git commands?
    
  %li
    If you break a git-repo, what is a good strategy to work-around it?
    
  %li
    Can you describe how to create a repo on your laptop and copy it to github?
    
  %li
    Can you describe all the ways to copy software into Heroku?

