%h2 Class03 Answer:
%h2 Calculate RMSE for that line.

%p RMSE is an acronym for Root Mean Square Error.

%p
  %a(href='https://www.google.com/search?q=Statistics+Root+Mean+Square+Error&tbm=isch' target='x')
    https://www.google.com/search?q=Statistics+Root+Mean+Square+Error&tbm=isch

.syntax
  %pre
    =render 'class03p16'
%p I ran the above script and saw this:
.syntax
  %pre
    %code.bash
      dan@h79:~/ml4/public/class03demos $ python class03p12.py
      RMSE between straight line and closing price:
      60.4232371144
      dan@h79:~/ml4/public/class03demos $ 
      dan@h79:~/ml4/public/class03demos $ 
    
%p
  %a(href='class03#lab')
    Class03 Lab
