%h2 Class08 Answer:
%h2 Run bundle install in ~fx1/ml4us/

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx1/ml4us/
      bundle install
%p
  %a(href='class08#setup')
    Class08 Lab
