%h2 Class06 Answer:
%h2 Enhance iris_model

%p I enhanced the iris_model, and now my model creation script looks like this

.syntax
  %pre
    =render 'class06m2'
%p
  %a(href='class06#iris')
    Class06 Lab
