%h2 Class01 Lab Answer:
%h2 Clone learn4.us repo

%p I did this lab and it was easy.

%p I issued some shell commands:

.syntax
  %pre
    =render 'class01ml2'

%p
  %a(href='class01#git')
    Class01 Lab

