%h2 Class05 Answer:
%h2 Buy a GPU Host: Easy Answer

%p Currently ZaReason offers a good selection of GPU hosts:

%ul
  %li Laptops:
  %li    
    %a(href='http://zareason.com/verix-7220.html' target='x')
      http://zareason.com/verix-7220.html
  
  %li    
    %a(href='http://zareason.com/Chimera-3.html' target='x')
      http://zareason.com/Chimera-3.html
  

  %li Desktops:

  %li    
    %a(href='http://zareason.com/mediabox-6550.html' target='x')
      http://zareason.com/mediabox-6550.html
  
  %li    
    %a(href='http://zareason.com/Limbo-6270a.html' target='x')
      http://zareason.com/Limbo-6270a.html
  
  %li    
    %a(href='http://zareason.com/Limbo-560.html' target='x')
      http://zareason.com/Limbo-560.html
  
  %li    
    %a(href='http://zareason.com/Zeto.html' target='x')
      http://zareason.com/Zeto.html
  
  %li    
    %a(href='http://zareason.com/Valta-X99i.html' target='x')
      http://zareason.com/Valta-X99i.html

%p In my experience, ZaReason will install both Ubuntu 16.04 and CUDA v8.0 before they ship the host to you.

%p During my last order-entry experience with ZaReason, I used a customer notes section at the end of the order form to describe what software I wanted them to install.

%p Also I verified via e-mail: support@zareason.com

%p Also you can call them and maybe visit their HQ in Berkeley:

%p
  %a(href='https://zareason.com/help.php?section=contactus&mode=update' target='x')
    https://zareason.com/help.php?section=contactus&mode=update
  
%hr/

%p
  %a(href='class05#gpu')
    Class05 Lab
  

