%h2 Class08 Answer:
%h2
  %a(href='https://github.com/danbikle/rollup' target='x')
    https://github.com/danbikle/rollup
  
%h2 Clone it to the right place

%p This is easy; just type two shell commands:

.syntax
  %pre
    %code
      cd ~
      git clone https://github.com/danbikle/rollup

%p
  %a(href='class08#rollup')
    Class08 Lab (Pandas Staged Rollup)
