%h2 Class08 Answer:
%h2
  %a(href='https://github.com/danbikle/rollup' target='x')
    https://github.com/danbikle/rollup
  
%h2 Describe why the above repo is useful.

%p The above repo is useful for these reasons:
%ul
  %li It gives me access to much more data
  %li It shows me 3 general rollup methods

%p
  %a(href='class08#rollup')
    Class08 Lab (Pandas Staged Rollup)
