%h1 Class02
%p
  In Class02 we review topics and techniques from Class01.
  Eventually, your projects will be to deploy ML apps;
  the topics below will help you.
  So, in Class02, we focus on the topics listed below:

%h2 Topics:
%ul
  %li AWS
  %li Linux
  %li Git
  %li Heroku

%h2 Questions:
%ul
  %li Which parts of AWS interest you the most?
  %li
    %a(href='/cclasses/class02aws') Answer
  %li How to get started with Linux?
  %li
    %a(href='/cclasses/class02l10') Answer
  %li What is Git and why use it?
  %li
    %a(href='/cclasses/class02g10') Answer
  %li How to deploy a simple app on Heroku?
  %li
    %a(href='/cclasses/class02h10') Answer


%h2#lab AWS Lab:
%ul
  %li Create an AWS account
  %li
    %a(href='/cclasses/class02aws1') Answer
  %li Create an EC2 Instance
  %li
    %a(href='/cclasses/class02ec21') Answer
%h2#linuxlabf Linux Lab (Folders, Files, Disk):
%ul
  %li Linux: In VirtualBox, create ~/myetc/
  %li In VirtualBox, copy /etc/passwd to ~/myetc/passwd
  %li Copy /etc/group  to ~/myetc/
  %li Copy /etc/init.d to ~/myetc/
  %li List folders in ~/myetc/
  %li List files   in ~/myetc/
  %li List files   in ~/myetc/init.d sorted by date
  %li List largest file in ~/myetc/init.d
  %li Update ~/myetc/init.d/ to be group un-readable
  %li Update ~/myetc/passwd to be public un-readable
  %li Update ~/myetc/group to be public writable
  %li Delete ~/myetc/init.d/README
  %li Rename ~/myetc/init.d/reboot to ~/myetc/init.d/reboot.bak
  %li How much space is used by ~/myetc/ ?
  %li How much space is available to ~/myetc/ ?
  %li
    %a(href='/cclasses/class02l11') Answers

%h2#linuxlabc Linux Lab (CPU):
%ul
  %li What does lspci tell me?
  %li What does lshw tell me?
  %li What does cat /proc/cpuinfo tell me?
  %li What does top tell me?  
  %li What does ps -ef tell me?  
  %li How to start emacs and then kill it with kill command?
  %li
    %a(href='/cclasses/class02l13') Answers

%h2#linuxlabn Linux Lab (Network):
%ul
  %li List your Public Interfaces to the network.
  %li List your Private Interfaces to the network.
  %li List your IP-Address (or IP-Addresses)
  %li List your Netmask(s)
  %li What is the IP-Address of your DNS server?
  %li How to ping Google?
  %li Are you using DHCP?
  %li
    %a(href='/cclasses/class02l15') Answers
%h2#linuxlabu Linux Lab (Users):
%ul
  %li List all users.
  %li Create a user named bob.
  %li Give bob a password.
  %li Give bob sudo privilege.
  %li Delete the user named bob.
  %li
    %a(href='/cclasses/class02l17') Answers
%h2#linuxlabp Linux Lab (Software Packages):
%ul
  %li Install Package: r-base
  %li Install Package: r-base-dev
  %li
    %a(href='/cclasses/class02l19') Answers
%h2#linuxlabs Linux Lab (Security):
%ul
  %li Start an Ubuntu virtualbox and ssh into it.
  %li
    %a(href='/cclasses/class02sec1') Answer
  %li Create a user named abe with password and sudo.
  %li List permissions of all of abe's folders and files.
  %li verify that abe can run sudo ls -la /root
  %li Update abe's home folder so only abe can read and write to it.
  %li As abe, change the password of root.
  %li As abe, create a public-key and private-key
  %li Create ann account if it does not exist.
  %li Copy abe's public-key into a file which allows abe to login as ann.
  %li As abe, login to ann account using abe private-key.
  %li Enhance ~abe/.ssh/config to ease login to ann account.
  %li
    %a(href='/cclasses/class02sec2') Answers

%h2#gitlab Git Lab:
%ul
  %li Create a user named abe with password and sudo.
  %li Login as abe and clone this repo:
  %li
    %a(href='https://github.com/danbikle/spy611v2' target='x')
      https://github.com/danbikle/spy611v2
  %li Why should you learn Git?
  %li What is Git?
  %li As abe, git config abe so abe has user.name and user.email
  %li Clone ~abe/spy611v2 to ~abe/spy611v2clone
  %li Create a branch in ~abe/spy611v2clone called abebranch1
  %li In that branch, add 'abe was here' to ~abe/spy611v2clone/abe.txt
  %li Commit that change with message 'abe said something'
  %li In ~abe/spy611v2clone switch to master branch.
  %li See if abe.txt has 'abe was here'.
  %li Merge abebranch1 on top of master.
  %li See if abe.txt has 'abe was here'.
  %li Create an account on github.com
  %li Push spy611v2clone to github.com
  %li Study github.com for recent commits to spy611v2clone.
  %li
    %a(href='/cclasses/class02git1') Answers
  

%h2#heroku Heroku Lab:
%ul
  %li Avoid logging into your e-mail from Room-K1 PCs.
  %li Create throwaway e-mail account at gmail or yahoo.
  %li Use that e-mail to create account on heroku.com.
  %li On Linux, create a user named hal with password and sudo.
  %li Login as hal and clone this repo:
  %li
    %a(href='https://github.com/danbikle/spy611v2' target='x')
      https://github.com/danbikle/spy611v2
  %li As hal, install the heroku-client.
  %li Test that the heroku-client can reach heroku.com.
  %li cd ~hal/spy611v2
  %li Use the heroku-client to create empty app in heroku.com.
  %li git push spy611v2 into empty app in heroku.com.
  %li
    %a(href='/cclasses/class02her1') Answers
  
  