%h2 Class03 Answer:
%h2 Write NumPy syntax which does something similar to the Pandas syntax below:

.syntax
  %pre
    =render 'class03pd47'  

%p This is easy.

.syntax
  %pre
    =render 'class03np47'

%p
  %a(href='class03#nppd')
    Class03 Lab
