%h2 Class06 Answer:
%h2 Install Keras into Anaconda

%p I used the conda shell command to install Keras:

.syntax
  %pre
    %code.bash conda install keras

%p I saw this:

.syntax
  %pre
    =render 'class06keras10'

%p I checked if I could import it:

.syntax
  %pre
    =render 'class06keras11'

%p
  %a(href='class06#python')
    Class06 Lab
