%h2 Class03 Answer:
%h2 Write Pandas syntax which mimics this SQL:
.syntax
  %pre
    =render 'class03pd18'

%p I ran the above SQL and saw this:

.syntax
  %pre
    =render 'class03pd20'
    
%p I did this lab by writing the script listed below:

.syntax
  %pre
    =render 'class03pd21'

%p I saw this:

.syntax
  %pre
    =render 'class03pd22'

%p
  %a(href='class03#lab')
    Class03 Lab
