%h2 Class09 Answer:
%h2 Get an Ubuntu 16 Virtual Box

%p For me this was an easy lab. 
%p I got an Ubuntu 16 virtual box from the URL listed below:

%p
  %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA' target='x')
    https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA

%p The above download should give me: ub16jul21.ova 10GB

%p After I click on the above file and import it into VirtualBox, I can boot Ubuntu.

%p After I boot Ubuntu I should see a login page.

%p I can login with this information:

%p
  User: ann, Password: a

%p
  %a(href='class09#setup')
    Class09 Lab
