%h2 Class04 Answer:
%h2 How to start with Spark MLlib?

%p
  I started by reading content at the URL listed below:
  
%p
  %a(href='http://spark.apache.org/docs/latest/ml-pipeline.html' target='x')
    http://spark.apache.org/docs/latest/ml-pipeline.html

%p While reading, I collected a list of nouns:

%ul
  %li Algorithm
  %li DataFrame
  %li Spark SQL
  %li Feature Vector
  %li True Label
  %li Transformer
  %li Estimator
  %li Pipeline
  %li Parameter
  %li ML Model
  %li Feature
  %li Prediction
  %li Hyperparameter
  %li RDD
  %li Data Type
  %li Unique ID
  %li Workflow
  %li Word
  %li Pipeline Stage
  %li Tokenizer
  %li HashingTF
  %li Method
  %li Directed Acyclic Graph (DAG)
  %li Ordered Array
  %li Runtime Checking
  %li Compile-Time Checking
  %li DataFrame Schema
  %li Unique Pipeline Stage
  %li Param
  %li Self-Contained Documentation
  %li ParamMap
  %li spark.mllib Package

%p While reading, I looked for discussion about how the above nouns combine with these verbs:
%ul
  %li Create
  %li Copy
  %li List
  %li Update
  %li Delete

%p Also, I looked for other verbs which participated with the above nouns.

%p I found these verbs:
%ul
  %li Standardize
  %li Combine
  %li Fit
  %li Transform
  %li Train
  %li Append
  %li Abstract
  %li Split
  %li Call

%p
  %a(href='class04')
    Class04
