%h2 Class06 Answer:
%h2 Operate iris_model in JavaScript.

%p I operated iris_model in JavaScript using my Chrome-browser.

%p I got started by calling a simple shell script to start a web server:

.syntax
  %pre
    %code.bash
      cd ~ann/mljs
      \./http.bash

%p Next, I browsed a URL: http://localhost:8080/iris2.html

%p I saw this:
%img(src='/class06/iris22.png')
%hr/

%p Asking the model to issue a prediction is easy; I just pressed the predict-button.

%p To see JavaScript create the model, I right-clicked on the page to bring up the inspect-UI:

%img(src='/class06/iris24.png')
%hr/

%p I found the HTML which connects the button to JavaScript:

%img(src='/class06/iris25.png')
%hr/

%p I found handleClick() in iris2.js:

%img(src='/class06/iris26.png')
%hr/

%p I set a breakpoint at line 32:

%img(src='/class06/iris27.png')
%hr/

%p I clicked the predict-button and watched control flow to line 32:

%img(src='/class06/iris28.png')
%hr/

%p I stepped through the code and watched the 3-predictions appear in an object named: outputData:

%img(src='/class06/iris29.png')
%hr/

%p I watched D3.js wrap those 3-predictions in HTML-li-elements and send them to iris2.html for display:

%img(src='/class06/iris30.png')
%hr/

%img(src='/class06/iris31.png')
%hr/

%p I use this list to describe what happened:

%ul
  %li I collected feature values of a flower in four form fields.
  %li I clicked predict.
  %li Control passed to handleClick(event) in iris2.js
  %li JavaScript copied the feature values from iris2.html
  %li JavaScript created a new model from KerasJS.Model()
  %li The model was initialized from three files served from the webserver.
  %li The model issued a prediction.
  %li D3.js copied the prediction into iris2.html

%p
  %a(href='class06#iris')
    Class06 Lab
