%h2 Class02 Answer:
%h2 Which parts of AWS interest you the most?

%p The two most important AWS services are listed below:

%ul
  %li
    %a(href='http://www.google.com/search?q=What+is+Amazon+AWS+S3' target='x')
      S3
  %li
    %a(href='http://www.google.com/search?q=What+is+Amazon+AWS+EC2' target='x')
      EC2
    
%p
  %a(href='class02') Class02
