%h2 Class09 Answer:
%h2 Run bundle install in ~/fx1/fx411/

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx411/fx411/
      bundle install
%p
  %a(href='class09#setup')
    Class09 Lab
