%h1 Class01
%p
  In Class01 we meet each other and get acquainted with the PCs in the lab.
  If you bring your own laptop, that should work better than the lab computers.
  Initially we work on install of VirtualBox.

%h2 Topics:
%ul
  %li VirtualBox
  %li Test Driven Development (manual)
  %li Rails
  %li selenium-webdriver
  %li Capybara
  %li RSpec
  %li Test Driven Development (automated)

%h2 Questions:
%ul
  %li What are 4 use-cases for VirtualBox?
  %li
    %a(href='/cclasses/class01uc') Answer
  %li What is Test Driven Development?
  %li
    %a(href='/cclasses/class01td') Answer
  %li What is Rails?
  %li
    %a(href='/cclasses/class01rl') Answer
  %li What is selenium-webdriver?
  %li What is Capybara?
  %li What is RSpec?
  %li What is automated Test Driven Development?


