%h2 Class06 Answer:
%h2 Clone https://github.com/danbikle/mljs

%p I used git:

.syntax
  %pre
    %code.bash
      cd ~ann
      git clone https://github.com/danbikle/mljs

%p I saw this:

.syntax
  %pre
    =render 'class06mljs1a'

%p
  %a(href='class06#node')
    Class06 Lab
