%h2 learn4.us Class01 Homework Questions
%ul
  %li    
    Which of the VirtualBox use-cases fit your situation the best?
    
  %li    
    How does VirtualBox compare to Docker?
    
  %li    
    How can Test Driven Development slow you down?
    
  %li    
    How can Test Driven Development speed you up?
    
  %li    
    Why is Rails useful?
    
  %li    
    What are some alternatives to Rails?
    
  %li    
    Why might you choose to avoid Rails?
    
  %li    
    Is selenium-webdriver something which runs in your browser?
    
  %li    
    Which kind of browser should you use with selenium-webdriver?
    
  %li    
    What are the 4 most common Capybara API calls?
    
  %li    
    Why is RSpec called RSpec?
    
  %li    
    How do I run an RSpec script?
    
  %li    
    Can I use RSpec with Python?
    
  %li    
    If you develop a popular website, where is Automated Testing most useful?
    
  %li    
    Describe how to import a .ova file into VirtualBox?
    
  %li    
    After you import a .ova file what do you end up with?
    
  %li    
    During import of a .ova file what might I need to configure?
    
  %li    
    During import of a .ova file what is most difficult to configure?
    
  %li    
    If I import a .ova file and then make changes, how to backup my work?
    
  %li    
    How do I see which version of Ruby I am running?
    
  %li    
    How do I see where Ruby is installed?
    
  %li    
    How do I install Ruby on Linux?
    
  %li
    %pre
      On Ubuntu, how is the command:
      sudo apt-get update
      different than the command:
      sudo apt-get upgrade
      ?
    
  %li
    On Ubuntu, how to reboot the machine?
    
  %li
    On Linux, how to install Python?
    
  %li
    How is Anaconda Python different than Python?
    
  %li
    What does it mean to: 'Clone a repo' ?
    
  %li
    What is a repo?
    
  %li
    What are the 5 most popular git commands?
    
  %li
    What do the 5 most popular git commands do?
    
  %li
    Is ChromeDriver a type of software which runs in your browser?
    
  %li
    Does FireFox have something like ChromeDriver?
    
  %li
    How to find the most recent available version of ChromeDriver?
    
  %li
    How to install ChromeDriver?
    
  %li
    What is the Iris Data Set?
    
  %li
    Why is the Iris Data Set popular?
    
  %li
    Machine Learning (ML) usually offers two types of predictions,
    what are they called?
    
  %li
    If an ML algorithm does a good job, how do I prove that is true?
    
  %li
    If you could predict the stock market, how would you convince me of your ability?
  %li
    %hr/
  %li Python Questions:
  %li
    %pre
      After you study the Python files in this repo:
      https://github.com/danbikle/mlcl3
      research and maybe answer these Python questions:

  %li
    What is Pandas?
  %li
    What is Numpy?
  %li
    What does import do?
  %li
    What is pdb?
    
  %li
    How do I read a CSV file into a Pandas DataFrame?
    
  %li
    What is a DataFrame?
    
  %li
    What does a DataFrame remind you of?
  %li
    Or, What is it similar to?
    
  %li
    In Python, what are the most popular data types?
    
  %li
    How do I convert a Pandas DataFrame into a Numpy Array?
    
  %li
    What is sklearn?
    
  %li
    What is Linear Regression?
    
  %li
    What is Logistic Regression?
    
  %li
    What is Regression?
    
  %li
    When I fit a line to a scatter plot, what does that mean?
    
  %li
    How to convert a Numpy Array to a Python List?
    
  %li
    With Numpy how to round all numbers in an Array to 3 decimal places?
    
  %li
    In Python, what is a 'comprehension'?
    
  %li
    In Python, how to convert a 'comprehension' to a for-loop?
    
  %li
    In Pandas, how to randomize the rows of a DataFrame?
    
  %li
    In the Iris Data Set, what are the 3 species of flowers?
    
  %li
    How do I convert the species to 3 integers?
    
  %li
    In Pandas how to copy a DataFrame?
    
  %li
    In Pandas how to see the first 3 rows of a DataFrame?
  
  %li
    %hr/
  %li
    Bring answers to class, be ready to stand up and present them to the class.
%p
  %a(href='class01')
    Class01
