%h2 Class03 Answer:
%h2 Write Pandas syntax which mimics this SQL:
.syntax
  %pre
    %code.sql
      SELECT * FROM prices WHERE cdate = (SELECT MAX(cdate) FROM prices);            
      SELECT cdate,closep FROM prices WHERE cdate = (SELECT MAX(cdate)-1 FROM prices); 
      SELECT cdate,closep FROM prices WHERE cdate > (SELECT MAX(cdate)-10 FROM prices);

%p I ran the above SQL and saw this:

.syntax
  %pre
    =render 'class03pd15'
    
%p I did this lab by writing the script listed below:

.syntax
  %pre
    =render 'class03pd16'

%p I saw this:

.syntax
  %pre
    =render 'class03pd17'

%p
  %a(href='class03#lab')
    Class03 Lab
