%h2 Class09 Answer:
%h2 Report Predictions Effectiveness Sum, Grouped by Pair and Training Size

%p I started this lab by asking two questions:
%ul
  %li Of the five pairs, which is the most predictable pair?
  %li For each pair, what is an optimal amount of training data?

%p To help me answer the above questions, I wrote the script listed below:

.syntax
  %pre
    =render 'class09s23a'

%p I ran the above script and saw this output:

.syntax
  %pre
    =render 'class09s23b'

%p Above, I can see that the most effective combination of pair and trainsize is: AUDUSD, 107000.

%p When I study the pairs near the top, I see that EURUSD appears to be the most predictiable.

%p The least predictive pair is USDJPY.

%p For each pair, the optimal number of training observations is listed below:

%ul
  %li AUDUSD: 10700
  %li USDCAD: 10300
  %li EURUSD: 10100
  %li GBPUSD: 10700
  %li USDJPY: 10700
  
%p I wrote and ran a script to plot the combinations:

.syntax
  %pre
    =render 'class09s23c'

%hr/

%img(src='/class09/img107000AUDUSD.png')
%img(src='/class09/img103000USDCAD.png')
%img(src='/class09/img101000EURUSD.png')
%img(src='/class09/img105000EURUSD.png')
%img(src='/class09/img105000AUDUSD.png')
%img(src='/class09/img107000GBPUSD.png')
%img(src='/class09/img103000EURUSD.png')
%img(src='/class09/img105000USDCAD.png')
%img(src='/class09/img101000USDCAD.png')
%img(src='/class09/img103000GBPUSD.png')
%img(src='/class09/img107000EURUSD.png')
%img(src='/class09/img107000USDJPY.png')
%img(src='/class09/img103000AUDUSD.png')
%img(src='/class09/img105000GBPUSD.png')
%img(src='/class09/img107000USDCAD.png')
%img(src='/class09/img105000USDJPY.png')
%img(src='/class09/img101000AUDUSD.png')
%img(src='/class09/img103000USDJPY.png')
%img(src='/class09/img101000USDJPY.png')
%img(src='/class09/img101000GBPUSD.png')

%hr/

%p
  %a(href='class09#op')
    Class09 Lab
