%h2 Class05 Answer:
%h2 Install TensorFlow

%p I started this exercise by studying the URL listed below:

%p
  %a(href='https://www.tensorflow.org/install/install_linux#installing_with_native_pip' target='x')
    https://www.tensorflow.org/install/install_linux#installing_with_native_pip

%p Then I installed Python 3.6.1 under my home-folder: 
.syntax
  %pre
    =render 'class05tf10py'

%p Next, I installed TensorFlow 1.2.0 with GPU CUDA cuDNN support:

.syntax
  %pre
    %code.bash pip install tensorflow-gpu

%p
  %a(href='class05#gpu')
    Class05 Lab
