%h2 Class01 Lab Answer:
%h2 As Product Manager, Enhance mlcl2

%p The data used by mlcl2 are simple measurements of flowers.

%p I find the data uninteresting compared to data about sports or stock market behavior.

%p As Product Manager, the only kind of user I act for is the Machine Learning student.

%p From that perspective, some enhancements to mlcl2 are easy to see:

%ul
  %li I should randomize rows read from iris.csv
  %li I should read all columns instead of just f0, f1
  %li I should encode iris_type column as integers: 0,1,2
  %li I should learn from all available variables instead of just f0
  %li I should predict immediately after the model is ready
  %li I should try to predict iris_type instead of f1 (classification instead of regression)
  %li I should report accuracy of classification
  %li I should use 3 colors visualize iris_type in 2D scatter plots of f0, f1, f2, f3

%p I implemented the above enhancements in the repo listed below:
%p
  %a(href='https://github.com/danbikle/mlcl3' target='x')
    https://github.com/danbikle/mlcl3

%p I cloned the above repo and operated it:
.syntax
  %pre
    =render 'class01mlcl2d'

%p
  %a(href='class01#mlcl2')
    Class01 Lab

