%h2 Class01 Answer:
%h2 Why Use Keras?

%p Some consider Keras to have an easier API than TensorFlow.

%p Also I see evidence that Keras Developers work with TensorFlow developers.

%p I list a blog post below:

%p
  %a(href='http://www.fast.ai/2017/01/03/keras/' target='x')
    http://www.fast.ai/2017/01/03/keras/

%h2 Blog Post (copied from above URL):

.grey_corners
  =render 'class06keras_post'


%p
  %a(href='class01#ana')
    Class01 Lab

