%h2 Class05 Answer:
%h2 Download correct version of Cuda 7.5

%p I loaded the URL listed below:
%p
  %a(href='https://developer.nvidia.com/cuda-75-downloads-archive' target='x')
    https://developer.nvidia.com/cuda-75-downloads-archive

%p I interacted with the page to find the correct version of Cuda 7.5:

%img(src='/class05/cuda75.png')

%p After the download I had a file which looked like this:

.syntax
  %pre
    %code.bash
      dan@pavlap:~/dl $ 
      dan@pavlap:~/dl $ ll cuda-repo-ubuntu1404-7-5-local_7.5-18_amd64.deb 
      \-rw-rw-r-- 1 dan dan 2013382446 Jul 17 23:41 cuda-repo-ubuntu1404-7-5-local_7.5-18_amd64.deb
      dan@pavlap:~/dl $ 
      dan@pavlap:~/dl $ du -sh cuda-repo-ubuntu1404-7-5-local_7.5-18_amd64.deb
      1.9G	cuda-repo-ubuntu1404-7-5-local_7.5-18_amd64.deb
      dan@pavlap:~/dl $ 
      dan@pavlap:~/dl $ 
  

%p
  %a(href='class05#gpu')
    Class05 Lab
