%h2 Class06 Answer:
%h2 Backtest years 2000 through 2016.

%p I wrote a script named backtest.bash to do this lab:

.syntax
  %pre
    =render 'class06g17'

%p
  %a(href='class06#gspc')
    Class06 Lab
