%h2 Class07 Answer:
%h2 Use heatmap.2() to Visualize Logistic Regression effectiveness

%p I wrote the script below to do this lab:

%p
  .syntax
    %pre
      =render 'class07logr_hm2'
      
%p Heatmaps from the above script are displayed below:

%img(src='/class07/logr_predictions2000.png')
%hr/
%img(src='/class07/logr_predictions2001.png')
%hr/
%img(src='/class07/logr_predictions2002.png')
%hr/
%img(src='/class07/logr_predictions2003.png')
%hr/
%img(src='/class07/logr_predictions2004.png')
%hr/
%img(src='/class07/logr_predictions2005.png')
%hr/
%img(src='/class07/logr_predictions2006.png')
%hr/
%img(src='/class07/logr_predictions2007.png')
%hr/
%img(src='/class07/logr_predictions2008.png')
%hr/
%img(src='/class07/logr_predictions2009.png')
%hr/
%img(src='/class07/logr_predictions2010.png')
%hr/
%img(src='/class07/logr_predictions2011.png')
%hr/
%img(src='/class07/logr_predictions2012.png')
%hr/
%img(src='/class07/logr_predictions2013.png')
%hr/
%img(src='/class07/logr_predictions2014.png')
%hr/
%img(src='/class07/logr_predictions2015.png')
%hr/
%img(src='/class07/logr_predictions2016.png')
%hr/
%img(src='/class07/logr_predictions2017.png')
%hr/

%p
  %a(href='class07#logr')
    Class07 Lab
