%h2 Class09 Answer:
%h2 Get data from truefx.com Answer-2

%p The data is available at the URL listed below:

%p
  %a(href='https://drive.google.com/drive/folders/0Bx3iDDAtxxI4RnZ5WXlrTk9QdEU' target='x')
    https://drive.google.com/drive/folders/0Bx3iDDAtxxI4RnZ5WXlrTk9QdEU

%p
  %a(href='class09#op')
    Class09 Lab
