%h2 Class01 Lab Answer:
%h2 Install VirtualBox on your laptop.

%p I install VirtualBox by going to this page:
%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads
  
%p If I am on Mac, I just download and follow the instructions.

%p If you are on windows, be prepared for problems.

%p First ensure that your windows laptop is a 64bit machine.

%p Next, ensure that your 64bit laptop is running 64bit windows.

%p If your windows laptop was made after 2014, it is probably okay.

%p Then, you need to enable 'Virtualization' inside your windows laptop:

%p
  %a(href='http://www.google.com/search?q=On+Windows+how+to+enable+Virtualization' target='x')
    http://www.google.com/search?q=On+Windows+how+to+enable+Virtualization

%p This can be tricky because laptop vendors offer no standard way to enable 'Virtualization'.

%p The HP method is different than the Dell method is different than the Lennovo method...

%p If you have trouble, it is best to find someone who has experience with: 'Laptop BIOS'

%p
  %a(href='http://www.google.com/search?q=How+to+access+laptop+BIOS' target='x')
    http://www.google.com/search?q=How+to+access+Laptop+BIOS
  
%p
  %a(href='http://www.google.com/search?q=What+is+laptop+BIOS' target='x')
    http://www.google.com/search?q=What+is+Laptop+BIOS
  