%h2 Class04 Answer:
%h2 Run the first example listed in this URL:
%p
  %a(href='http://spark.apache.org/docs/latest/ml-pipeline.html#example-estimator-transformer-and-param' target='x')
    http://spark.apache.org/docs/latest/ml-pipeline.html#example-estimator-transformer-and-param

%p The syntax in the first example fills only a page.

%p The author of the example, though, neglects to give information on how to run it.

%p I ran the example by copying the syntax into a file: /tmp/ml_examp1.scala

%p Then I added one small, yet significant enhancement.

%p I enclosed all the syntax within curly-braces.

%p The curly-braces help spark-shell "see" expressions which span multiple lines.

%p For example, this call:

.syntax
  %pre
    =render 'class04spark13'

%p Will confuse spark-shell because the call spans two lines instead of one.

%p The resulting file looks like this:

.syntax
  %pre
    =render 'class04spark22a'

%p Next I ran the example with a simple shell command:

.syntax
  %pre
    %code.bash ~/spark/bin/spark-shell -i ml_examp1.scala
      
%p I saw this:

.syntax
  %pre
    =render 'class04spark23'

%p Near the end of that output I see three obvious predictions from Logistic Regression.

%p
  %a(href='class04#spark')
    Class04 Lab
