%h2 Class03 Answer:
%h2 Use Linear Algebra to fit a line to GSPC 2016 price points

%p I use NumPy, Pandas below.

.syntax
  %pre
    =render 'class03p18'

%p I ran the above script and saw this:

.syntax
  %pre
    =render 'class03p19'

%p
  %a(href='class03#lab')
    Class03 Lab
