%h1 Class04
%p In Class04 we start our study of Spark.

%h2 Topics:
%ul
  %li Java Installation
  %li Java Operation
  %li Spark Installation
  %li The Best Tutorial
  %li Interactive Spark
  %li Spark Applications

%h2 Questions:
%ul
  %li Which is the best Java for Spark?
  %li How to install Java?
  %li How to operate Java?
  %li How to install Spark?
  %li Which is the best Spark Tutorial?
  %li How to start with Spark REPLs?
  %li How to write a simple Spark Application?
  

%h2#java Lab (Java):
%ul
  %li On Linux install Oracle Java.
  %li Test your installation of Java.

%h2#spark Lab (Spark):
%ul
  %li On Linux install Spark.
  %li Work through the first page of the Spark Tutorial.
