%h2 Class09 Answer:
%h2 Aggregate Data

%p This lab required some knowledge.

%p I knew the price data I get from truefx.com is too fine-grained.

%p Many of the observations are spaced microseconds apart.

%p I wanted to have observations spaced 5 minutes apart.

%p My intent was to learn price behavior for each pair for a variety of holding periods.

%p From a trading perspective, the holding period which interested me the most is one hour.

%p The main idea I implement here is that for each pair I should create groups of observations which are spaced 5 minutes apart.

%p Then I should use groupby() in Pandas to find mean of price for each group of observations.

%p I started this lab with a simple shell command:

.syntax
  %pre
    %code.bash mkdir -p ~fx411/csv/

%p Next I wrote the script listed below:

.syntax
  %pre
    =render 'class09s20a'

%p A copy of the above script should be in the git repo at this location:

%p ~fx411/fx411/script/agg_zip.py

%p Also I should be able to see it here:

%p
  %a(href='https://github.com/danbikle/fx411/blob/master/script/agg_zip.py' target='x')
    https://github.com/danbikle/fx411/blob/master/script/agg_zip.py
  
%p I ran the above script.

%p It needed about 5.5 hours to process 9.3 GB of compressed price data.

%p The resulting aggregated data consumed only 54 MB of space.

%p A list of the aggregated data is displayed below:

.syntax
  %pre
    =render 'class09s20b'

%p I used tail to look at the very last file.

.syntax
  %pre
    =render 'class09s20c'

%p I can see that the last observation has a timestamp of Tue Nov  1 07:55:00 UTC 2016.

%p The mean-price for USDJPY at that 5 minute boundry was 104.818039.

%p
  %a(href='class09#setup')
    Class09 Lab
