%h2 Class06 Answer:
%h2 Start mljs webserver

%p I issued some shell commands:

.syntax
  %pre
    %code.bash
      cd ~ann/mljs/
      npm i
      \./http.bash

%p I saw this:

.syntax
  %pre
    =render 'class06mljs2a'

%p I browsed the URL: http://localhost:8080

%p I saw this:

%img(src='/class06/mljs8080.png')

%p
  %a(href='class06#node')
    Class06 Lab
