%h2 Class09 Answer:
%h2 Get data from truefx.com Answer-3

%p The data is available at the URL listed below:

%p
  %a(href='https://drive.google.com/drive/folders/0Bx3iDDAtxxI4RDVRU3lIY2xJT0E' target='x')
    https://drive.google.com/drive/folders/0Bx3iDDAtxxI4RDVRU3lIY2xJT0E

%p
  %a(href='class09#op')
    Class09 Lab
