%h2 Class04 Answer:
%h2 Copy logr12.scala to linr11.scala. Enhance it to use Linear Regression.

%p This lab required some knowledge.

.syntax
  %pre
    =render 'class04spark66'

%p I saw something like this:
.syntax
  %pre
    =render 'class04spark67'

%p For 2016 test data, I translate the above report into English:
%ul
  %li The Effectiveness of a Long-Only model is 7.81%

  %li The Effectiveness of Negative Linear Regression predictions  is 5.38%

  %li The Effectiveness of Positive Linear Regression predictions  is 13.19%

  %li So, for 2016, Linear Regression beats Long-Only.

  %li The accuracy data is listed below:

  %li Total 2016 observation count: 185 ( 2016-01-04 through 2016-09-27)

  %li True Positive Count: 75
  %li True Negative Count: 27

  %li False Positive Count: 60
  %li False Negative Count: 23

  %li Accuracy is (75.0+27.0) / 185.0 is 55%

%p
  %a(href='class04#spark')
    Class04 Lab
