%h2 Class01 Lab Answer:
%h2 Install Google ChromeDriver

%p I did this lab and it was easy.

%p I issued some shell commands:

.syntax
  %pre
    =render 'class01ch2'

%p
  %a(href='class01#lab')
    Class01 Lab

