%h2 Class07 Answer:
%h2 Visualize model effectiveness,
%h2 Visualize model accuracy.

%p I started this lab by writing a script which reports data:
%ul
  %li Long-Only Effectiveness
  %li Model     Effectiveness
  %li Long-Only Accuracy
  %li Model     Accuracy

.syntax
  %pre
    =render 'class07hr15'

%p I ran the above script and saw this:
.syntax
  %pre
    =render 'class07hr24'

%p The above output gives me the information listed below:

%ul
  %li For years 2000-2016, Long-Only Effectiveness: 70.97%
  %li Heatmap Model Effectiveness: 41.99%
  %li Long-Only Accuracy: 53.0%
  %li Heatmap Model Accuracy: 51.2%

%p The above analysis tells me that I should avoid using the Heatmap Model to predict S&P 500.

%p
  %a(href='class07#hr')
    Class07 Lab
