%h2 Class07 Answer:
%h2 Test the model

%p I started this lab by writing a script which gets predictions from the models:
.syntax
  %pre
    =render 'class07hr14'

%p
  %a(href='class07#hr')
    Class07 Lab
