%h2 Class03 Answer:
%h2 Use Linear Algebra to fit a line to GSPC 2016 price points

%p I use NumPy, Pandas below.

.syntax
  %pre
    =render 'class03p18'

%p I ran the above script and saw this:

.syntax
  %pre
    =render 'class03p19'

%p Now that I have beta, I can calculate a prediction:

.syntax
  %pre
    =render 'class03p21'

%p Prediction:
.syntax
  %pre
    %code.bash
      dan@pavlap:~/ml4us/public $ 
      dan@pavlap:~/ml4us/public $ 
      dan@pavlap:~/ml4us/public $ python class03p14.py
      I predict the price 70 days after the first price to be:
      [[ 2029.4872276]]
      dan@pavlap:~/ml4us/public $ 
      dan@pavlap:~/ml4us/public $

%p
  %a(href='class03#lab')
    Class03 Lab
