%h2 Class01 Lab Answer:
%h2 Install ub16jan.ova inside VirtualBox on your laptop.

%p This is easy.

%p Download this file and then click on it:

%p
  %a(href='https://drive.google.com/open?id=0Bx3iDDAtxxI4WWFpemh2ZjViVkk' target='x')
    ub16jan.ova
    
%p Be patient, maybe do this at home before class; this is a large file: 6.2GB

%p The password for the ann account is 'a'.

%p
  The Operating System in this virtualbox is Ubuntu 16.04 which should eventually be better
  than Ubuntu 14.04.

%p This virtualbox should contain recent versions of these languages:
%ul
  %li Python
  %li Ruby
  %li Java
  %li R
  %li Node.js

%p
  %a(href='class01#lab')
    Class01 Lab
