%h2 Class06 Answer:
%h2 Operate iris2.html

%p The page below is a five dimensional view of flowers data:

%ol
  %li Sepal-Length (less predictive)
  %li Sepal-Width  (less predictive)
  %li Petal-Length (more predictive)
  %li Petal-Width  (more predictive)
  %li Flower-Type (Setosa, Versicolor, Virginica)

%p Often with multi-dimensional data, we use color to visualize categorical dimensions.

%p That idea works well here for three types of flowers:

%ul
  %li Setosa     is Red
  %li Versicolor is Green
  %li Virginica  is Blue
  
%p We want to predict Flower-Type from Sepal and Petal measurements.

%p I visited http://localhost:8080/iris2.html and saw this:

%img(src='/class06/iris22.png')

%hr/

%p I used the page to issue some predictions:

%img(src='/class06/iris23.png')

%hr/

%p Later in the lab, we will study the JavaScript in your browser which calculates the predictions.
%p Also we will study the Python which created the model used by the JavaScript.

%p
  %a(href='class06#node')
    Class06 Lab
