%h2 Class09 Answer:
%h2 Update Ubuntu

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      sudo apt update
      sudo apt upgrade

%p
  %a(href='class09#setup')
    Class09 Lab
