%h2 Class05 Answer:
%h2 Write a simple app which compares TensorFlow to scikit-learn

%p This is an easy lab if you clone my repo.

%p I cloned the repo and ran a shell command:

.syntax
  %pre
    %code.bash
      cd ~
      git clone https://github.com/danbikle/tf4us
      cd tf4us/script
      ./backtest.bash

%p I ran the above syntax and I saw this:

.syntax
  %pre
    =render 'class05tf17'

%p
  %a(href='class05#tf1')
    Class05 Lab
