%h2 Class05 Answer:
%h2 Test CUDA

%p I started this exercise by studying this page:

%p
  %a(href='http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#install-samples' target='x')
    http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#install-samples

%p To test CUDA, I installed writeable samples with a simple shell command:

.syntax
  %pre
    %code.bash /usr/local/cuda/bin/cuda-install-samples-9.1.sh /tmp

%p Then, I compiled the samples:

.syntax
  %pre
    %code.bash
      cd /tmp/NVIDIA_CUDA-9.1_Samples/
      make

%p Next, I tried one of the samples:

.syntax
  %pre
    =render 'class05cuda80dq'

%p
  %a(href='class05#gpu')
    Class05 Lab



