%h2 Class05 Answer:
%h2 Buy a GPU Host.

%p Currently Costco offers an HP-Envy with a GPU for $800:

%p
  %a(href='http://www.google.com/search?q=HP+ENVY+17-s143cl' target='x')
    http://www.google.com/search?q=HP+ENVY+17-s143cl

%p In 2017 I have had good luck installing Ubuntu 16.04 on a variety of HP-Envy laptops.

%p
  %a(href='class05#gpu')
    Class05 Lab
  

