%h2 Class01 Answer:
%h2 What is Test Driven Development?

%p It is easy to find a definition of Test Driven Development (TDD):

%p
  %a(href='http://www.google.com/search?q=Test+Driven+Development' target='x')
    http://www.google.com/search?q=Test+Driven+Development

%p I see TDD as starting with an English statement which is false but should be true.

%p I make the statement true with a small piece of software.

%p For example, before I wrote the page which you are reading, I wrote this statement:

%p
  This page:
  %a(href='http://www.ml4.us/cclasses/class01td' target='x')
    http://www.ml4.us/cclasses/class01td
  should describe TDD.

%p After I wrote the page, the above statement switched from False to True.

%p
  %a(href='class01')
    Class01
