%h2 Class05 Answer:
%h2 Run a Simple TensorFlow Demo

%p This is an easy lab.

%p I found a simple demo by loading this URL:

%p
  %a(href='https://www.tensorflow.org' target='x')
    https://www.tensorflow.org

%p On the above page I found a link: "GET STARTED"

%p It sent me to the URL listed below:
%p
  %a(href='https://www.tensorflow.org/get_started' target='x')
    https://www.tensorflow.org/get_started

%p There I found a simple page of syntax:

.syntax
  %pre
    =render 'class05tf11'

%p I pasted that syntax into a file and ran it on my Cuda-GPU-laptop.

%p I saw this:

.syntax
  %pre
    =render 'class05tf12'

%p The idea of the above demo is to generate 100 random x_data values.

%p Then generate y_data from x_data using this expression:

%p y_data = x_data * 0.1 + 0.3

%p After that we have 100 points to create a scatter-plot.

%p We should then use TensorFlow to fit a line to that scatter-plot.

%p TensorFlow assumes the line has this form:

%p y = W*x + b

%p TensorFlow uses an error-minimization loop to calculate that W is 0.0999999 and b is 0.30000007.

%p According to the output, TensorFlow approaches near the correct answer after 60 iterations of the loop.

%p
  %a(href='class05#tf1')
    Class05 Lab
