%h2 Class02 Answer:
%h2 What is Git and why use it?

%p Answering Why Git is easier than answering What is Git or how to operate Git.

%ul
  %li Q: Why use Git?
  %li It helps me collaborate with other developers.
  %li It backs up my work.
  %li It helps me track and fix bugs.
  %li It helps me copy software between hosts.

%p The way to learn Git is to think of it as a system of nouns and verbs.

%p I list the verbs first:

%ul
  %li Config
  %li Initialize
  %li Clone
  %li Fork
  %li Branch
  %li Commit
  %li Fetch
  %li Merge
  %li Pull
  %li Push
  %li Log
  %li Grep

%p The nouns of Git are listed below:

%ul
  %li Repository (AKA Repo)
  %li Remote Repository
  %li Branch
  %li Commit
  %li Clone
  %li Fork
  %li Working Directory
  %li Pull Request
  %li Git Server

%p Next, I combine the verbs with nouns and provide descriptions.

%p These combinations of verbs, nouns, and descriptions might be a good way to learn Git.

%ul
  %li
    Config Git
    %br/
    I Config Git with the git config command:
    .syntax
      %pre
        %code.bash
          git config --global user.name "Developer Dan"
          git config --global user.email bikle101@gmail.com
    Git wants to be configured. The above commands add syntax to ~/.gitconfig

  %li
    Initialize Repo
    %br/
    I easily Initialize Repo with the git init command:
    .syntax
      %pre
        %code.bash
          mkdir ~/danapp1
          cd    ~/danapp1
          git init

  %li
    Clone Repo
    %br/
    I Clone a Repo to get a clone (copy) of a Repo:
    .syntax
      %pre
        %code.bash
          cd ~
          git clone https://github.com/tensorflow/tensorflow
    The above command gives me folder named tensorflow full of tensorflow software.

  %li
    Fork Repo
    %br/
    When I Clone a Repo to my laptop I get a Clone.
    %br/
    When I Clone a Repo to a server (like github.com) I get a Fork.
    %br/
    To Fork tensorflow-Repo I login to github.com
    %br/
    Then I load this URL:
    %br/

    %a(href='https://github.com/tensorflow/tensorflow' target='x')
      https://github.com/tensorflow/tensorflow
    %br/
    Next, I click the Fork-button in upper right.
    %br/
    If I want to add code to a Repo, I fork it; otherwise I just clone it.


%p
  %a(href='class02') Class02
