%h2 Class03 Answer:
%h2 Write Pandas syntax which mimics this SQL:
.syntax
  %pre
    =render 'class03pd40'

%p I started this lab by running the above SQL:

.syntax
  %pre
    =render 'class03pd41'

%p Next, I wrote the script listed below:

.syntax
  %pre
    =render 'class03pd42'

%p I saw this:

.syntax
  %pre
    =render 'class03pd43'

%p
  %a(href='class03#lab')
    Class03 Lab
