%h2 Class05 Answer:
%h2 Install Ubuntu 16.04 on GPU host.

%p The easy way to install Ubuntu 16.04 on GPU host is to buy the host with Ubuntu installed by the vendor.

%p I like this vendor:

%p
  %a(href='http://zareason.com' target='x')
    http://zareason.com

%p A more difficult way is to replace windows 10 with Ubuntu 16.04; this might offer some cost savings.

%p I installed Ubuntu on a GPU host I bought from Costco.

%p I captured photos and now serve them from Heroku:

%p
  %a(href='http://ub101.herokuapp.com/' target='x')
    http://ub101.herokuapp.com/
%p Other good sources of information:

%p
  %a(href='http://www.google.com/search?q=How+to+replace+windows+10+with+Ubuntu' target='x')
    http://www.google.com/search?q=How+to+replace+windows+10+with+Ubuntu
%p
  %a(href='http://www.google.com/search?tbm=vid&q=How+to+replace+windows+10+with+Ubuntu' target='x')
    http://www.google.com/search?tbm=vid&q=How+to+replace+windows+10+with+Ubuntu

%p I offer some advice.

%p Avoid installing both Windows and Ubuntu on the same laptop; do not create a 'Dual Boot' laptop.

%p All of of my laptops are either windows-only or Linux-only.

%p In my experience, Dual Boot hosts are difficult to setup and they are unreliable after they are setup.

%p I do, however, often run Linux inside of VirtualBox which runs inside of windows.

%p One problem with running Linux in VirtualBox is that I have not figured out how to connect that Linux with the GPU in the host.

%p Linux running inside of VirtualBox only has access to the CPU.

%hr/
%p
  %a(href='class05#gpu')
    Class05 Lab
