%h2 Class01 Answer:
%h2 What are 4 use-cases for VirtualBox?

%ul
  %li 1. Personal Computer
  %li
    %p
      I need a Personal Computer to do tasks like send e-mail, listen to music, file taxes,
      surf the web, store documents, and watch Netflix.
      I use a VirtualBox instance as my Personal Computer.
    %p
      Before VirtualBox, my Personal Computer was a laptop.
      Compared to VirtualBox, a laptop is a poor Personal Computer.
      The main problem with a laptop is that it is difficult to backup and restore.
      VirtualBox is easy to backup and restore.
    %p
      Now that I use VirtualBox, I back it up once a day.
      I have restored VirtualBox instances many times; it is always easy.
      Restoring a laptop from backup is usually not easy.
      Now, when I look at a laptop, I see it as a thing which can run VirtualBox.
      I no longer use a laptop as my Personal Computer.
      
  %li 2. Development Environment
  %li
    %p
      When I setup a Development Environment for a project sometimes it can take a few hours.
      VirtualBox is well suited for backing up this effort.
      Also if I am managing a team of Engineers I can specify the Development Environment
      they should be using by just giving each of them a copy of a VirtualBox instance.
    %p
      I don't need to specify a large recipe of tasks they need to follow in order to
      get their laptop ready to participate in my project.
      Also I dont need to debug problems with their laptops due to differences.
      If one member wants to use a Mac and another wants to use Windows it should not be
      a problem if they can run VirtualBox.

  %li 3. Development Cluster
  %li
    %p
      Some apps need to run on a cluster of hosts.  Sometimes I need to build a Development Cluster
      which is structured like the Production Cluster.
      VirtualBox is well suited for creating a cluster of hosts.
      If my laptop has lots of RAM and CPU, I can run the whole cluster inside my laptop.
      
  %li 4. Training Environment
  %li
    %p
      When I have a class full of students, I want to spend time teaching.
      I don't want to spend time tinkering with student laptops.
    %p
      So, I place the Training Environment in a VirtualBox.
      Then each student gets a copy.
      Hopefully each student laptop can run VirtualBox.
  
%p
  %a(href='class01')
    Class01
