%h2 Class08 Answer:
%h2 Get account at truefx.com

%p For me this was an easy lab. 
%p I clicked a link and answered questions:

%p
  %a(href='https://www.truefx.com' target='x')
    https://www.truefx.com

%p
  %a(href='class08#setup')
    Class08 Lab
