%h2 Class04 Answer:
%h2 Calculate predictions of test data and report effectiveness.

%p This lab required some knowledge.

.syntax
  %pre
    =render 'class04spark63'

%p I saw something like this:
.syntax
  %pre
    =render 'class04spark64'

%p For 2016 test data, I translate the above report into English:
%ul
  %li The Effectiveness of a Long-Only model is 12.34%

  %li The Effectiveness of Negative Logistic Regression predictions  is -2.47%

  %li The Effectiveness of Positive Logistic Regression predictions  is 9.87%

  %li So, for 2016, Long-Only beats Logistic Regression.

  %li The accuracy data is listed below:

  %li Total 2016 observation count: 96+94+26+36 is 252

  %li True Positive Count: 96
  %li True Negative Count: 26

  %li False Positive Count: 94
  %li False Negative Count: 36

  %li Accuracy is (96+26) / 252.0 is 48.4%

%p
  %a(href='class04#spark')
    Class04 Lab
