%h2 Class02 Answer:
%h2 How to deploy a simple app on Heroku?

%p This is an easy task.

%ul
  %li
    Create an account at
    %a(href='https://www.heroku.com' target='x')
      https://www.heroku.com
  
  %li
    Download the heroku-client
  %li
    Use the client to create an app
  %li
    Clone an existing app from github.com
  %li
    Push the clone to heroku.com
    
%p
  %a(href='class02') Class02
