%h1 Class08
%p In Class08 we Machine Learn Forex Data

%h2 Topics:
%ul
  %li Forex Market
  %li Forex Data
  %li Forex Predictions
  %li Product Management of Forex Prediction Site

%h2 Questions:
%ul
  %li What is Forex?
  %li Where to get Forex Data?
  %li What does Forex Data look like?
  %li How to get features from Forex Data?
  %li How to get predictions from Forex features?
  %li Who might be interested in Forex predictions?

%h2#setup Lab (Setup)
%ul
  %li Update Ubuntu
  %li
    %a(href='/cclasses/class08s10') Answer

  %li Enhance Ubuntu
  %li
    %a(href='/cclasses/class08s11') Answer

  %li Create Linux Account: fx1
  %li
    %a(href='/cclasses/class08s12') Answer

  %li Install Ruby in ~fx1/.rbenv
  %li
    %a(href='/cclasses/class08s13') Answer

  %li Install chromedriver in ~fx1/.rbenv/shims/
  %li
    %a(href='/cclasses/class08s14') Answer

  %li clone https://github.com/danbikle/ml4us
  %li
    %a(href='/cclasses/class08s15') Answer

  %li Run bundle install in ~/fx1/ml4us/
  %li
    %a(href='/cclasses/class08s16') Answer

  %li Get account at truefx.com
  %li
    %a(href='/cclasses/class08s17') Answer

  %li Enhance ~fx1/ml4us/spec/features/truefx_spec.rb
  %li
    %a(href='/cclasses/class08s18') Answer

%h2#op Lab (operation)
%ul
  %li Get data from truefx.com
  %li
    %a(href='/cclasses/class08s19') Answer
    
  %li Transform some data into features
  %li
    %a(href='/cclasses/class08s20') Answer
    
  %li Learn from the features
  %li Generate predictions
  %li Report effectiveness of predictions
  %li
    %a(href='/cclasses/class08s21') Answers

  %li
    Enhance the above scripts:
    %ul
      %li Backtest more pairs (AUD/USD, GBP/USD, USD/CAD, USD/JPY)
      %li Backtest more Year/Month Combinations
  %li Figure out a way to get real-time prices
  %li
    Build an app which:
    %ul
      %li Convinces me that you have effective models
      %li Issues timely predictions from real-time prices
