%h2 Class07 Answer:
%h2 Use heatmap.2() to Visualize model effectiveness

%p I wrote the script below to do this lab:

%p
  .syntax
    %pre
      =render 'class07hm2b'

%p Heatmaps from the above script are displayed below:
%img(src='/class07/heuristic_model2000.png')
%hr/
%img(src='/class07/heuristic_model2001.png')
%hr/
%img(src='/class07/heuristic_model2002.png')
%hr/
%img(src='/class07/heuristic_model2003.png')
%hr/
%img(src='/class07/heuristic_model2004.png')
%hr/
%img(src='/class07/heuristic_model2005.png')
%hr/
%img(src='/class07/heuristic_model2006.png')
%hr/
%img(src='/class07/heuristic_model2007.png')
%hr/
%img(src='/class07/heuristic_model2008.png')
%hr/
%img(src='/class07/heuristic_model2009.png')
%hr/
%img(src='/class07/heuristic_model2010.png')
%hr/
%img(src='/class07/heuristic_model2011.png')
%hr/
%img(src='/class07/heuristic_model2012.png')
%hr/
%img(src='/class07/heuristic_model2013.png')
%hr/
%img(src='/class07/heuristic_model2014.png')
%hr/
%img(src='/class07/heuristic_model2015.png')
%hr/
%img(src='/class07/heuristic_model2016.png')
%hr/
%img(src='/class07/heuristic_model2017.png')
%hr/





