%h2 Class03 Answer:
%h2 Write Pandas syntax which mimics this SQL:
.syntax
  %pre
    %code.sql
      SELECT COUNT(cdate) FROM prices;
      SELECT COUNT(lowp)  FROM prices;
      SELECT COUNT(*)     FROM prices;
      SELECT MIN(cdate),MIN(closep),MIN(volume) FROM prices;
      SELECT MAX(closep),MAX(volume), AVG(closep),AVG(volume) FROM prices;

%p I did this lab by writing the script listed below:

.syntax
  %pre
    =render 'class03pd11'

%p I saw this:
.syntax
  %pre
    =render 'class03pd12'


%p
  %a(href='class03#lab')
    Class03 Lab
