%h2 Class01 Answer:
%h2 What is Automated Testing?

%p
  If I use a test-script to test that all the links on a page return a status code of 200,
  that is an example of Automated Testing.
%p I might run the test-script when I start work in the morning.

%p
  I can take the concept a bit further with a watcher script which waits for me to
  change the app-software.

%p When the watcher script detects a change it could run the test-script.

%p
  Another way to enhance the concept is to use a scheduler to run the test-script every ten minutes.

%p
  This might be useful for an app which offers behavior dependent on data which is constantly changing.

%p An app which forecasts the stock market or the weather exhibits behavior dependent on data.

%p Obviously, the purpose of Automated Testing is to prevent bugs creeping into the app.

%p Also after the app has been deployed, I use Automated Testing to alert me when the app malfunctions due to events outside the app.

%p
  %a(href='class01')
    Class01
