%h2 Class08 Answer:
%h2 Update Ubuntu

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      sudo apt update
      sudo apt -y upgrade
%p Sometimes the above commands will fail if the host has been recently booted.
%p If you see that problem, you should wait 20 or 30 minutes for the host to offer better behavior.

%p
  %a(href='class08#setup')
    Class08 Lab
