%h1 Class02
%p
  In Class02 we do a queck review of Class01 and then dive into the topic of AWS.

%h2 Topics:
%ul
  %li AWS
  %li Linux
  %li Git
  %li Heroku

%h2 Questions:
%ul
  %li Which parts of AWS interest you the most?
  %li How to get started with Linux?
  %li What is Git and why use it?
  %li How to deploy a simple app on Heroku?


