%h2 Class03 Answer:
%h2 Plot a straight line from first price to last price.

%p I remember plotting straight lines from Algebra Class.

%p
  %a(href='https://www.google.com/search?q=In+Algebra+how+to+connect+2+points&tbm=isch' target='x')
    https://www.google.com/search?q=In+Algebra+how+to+connect+2+points&tbm=isch

.syntax
  %pre
    =render 'class03p14'
%hr/
%img(src='/class03/p15.png')
%hr/
%p
  %a(href='class03#lab')
    Class03 Lab
