%h2 Class09 Answer:
%h2 Enhance ~fx411/fx411/spec/features/truefx_spec.rb

%p For me this was an easy lab. 
%p I put my username and password into the script.
%p It is obvious where they should go.

%p
  %a(href='class09#setup')
    Class09 Lab
