%h2 Class01 Answer:
%h2 What is RSpec?

%p I find RSpec here:

%p
  %a(href='https://github.com/rspec/rspec' target='x')
    https://github.com/rspec/rspec
  
%p It is a Ruby Gem.
%p The main ideas we are interested in are listed at this URL:
%p
  %a(href='https://www.relishapp.com/rspec/rspec-rails/v/3-4/docs/feature-specs/feature-spec' target='x')
    https://www.relishapp.com/rspec/rspec-rails/v/3-4/docs/feature-specs/feature-spec
  

%p
  %a(href='class01')
    Class01
