%h2 Class07 Answer:
%h2 With Python, build an equivalent Logistic Regression Model

%p To do this lab I just translated R to Python.

%p First, I wrote genf.py which is displayed below:

.syntax
  %pre
    =render 'class07logr11a'

%p Next, I wrote logr_model.py.py which is displayed below:

.syntax
  %pre
    =render 'class07logr11b'

%p After I ran the two scripts I saw this:

.syntax
  %pre
    =render 'class07logr11c'

%p The above output tells me that Logistic-Regression in R is the same as in Python.

%p
  %a(href='class07#logr')
    Class07 Lab
