%h2 Class08 Answer:
%h2
  %a(href='https://github.com/danbikle/rollup' target='x')
    https://github.com/danbikle/rollup
  
%h2 Operate the scripts in the above repo.

%p I started by using my browser to get 5 large tar files from the URL listed below:

%p
  %a(href='https://drive.google.com/drive/folders/1jMFSP-_wTtt5rtdtQuQdtPQr6087xz6K' target='x')
    https://drive.google.com/drive/folders/1jMFSP-_wTtt5rtdtQuQdtPQr6087xz6K

%p The 5 files are large, so the download might take an hour or two.

%p The names are listed below:
.syntax
  %pre
    %code
      audusd.tar
      eurusd.tar
      gbpusd.tar
      usdcad.tar
      usdjpy.tar

%p Each tar file contains many zip files.

%p Each zip file contains many observations (in CSV format).

%p Each observation is a subsecond sampling of Forex prices.

%p After you get the above tar files, just do what I did.

.syntax
  %pre
    =render 'class08rollup11a'
%p At this point I had my 5 tar files in my Downloads folder.
%p I moved them to the right place:
.syntax
  %pre
    %code
      cd ~/Downloads/
      mv audusd.tar ~/rollup/data/forex_tarfiles/
      mv eurusd.tar ~/rollup/data/forex_tarfiles/
      mv gbpusd.tar ~/rollup/data/forex_tarfiles/
      mv usdcad.tar ~/rollup/data/forex_tarfiles/
      mv usdjpy.tar ~/rollup/data/forex_tarfiles/
%p
  Next, I un-tared the zip files from the tar files into a folder called: 'zip':

.syntax
  %pre
    %code
      mkdir -p ~/rollup/data/zip
      cd       ~/rollup/data/zip
      tar xf ~/rollup/data/forex_tarfiles/audusd.tar
      tar xf ~/rollup/data/forex_tarfiles/eurusd.tar
      tar xf ~/rollup/data/forex_tarfiles/gbpusd.tar
      tar xf ~/rollup/data/forex_tarfiles/usdcad.tar
      tar xf ~/rollup/data/forex_tarfiles/usdjpy.tar

%p On your laptop, the above commands might take 20 or 30 minutes.

%p
  %a(href='class08#rollup')
    Class08 Lab (Pandas Staged Rollup)
