%h2 Class06 Answer:
%h2 Install(Or Reinstall) Anaconda

%p In the ann account of my Linux host, I Reinstalled Anaconda:

.syntax
  %pre
    =render 'class06ana1'
%p
  %a(href='class06#python')
    Class06 Lab
