%h2 Class08 Answer:
%h2 Get data from truefx.com

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx1/ml4us/
      bin/rspec spec/features/truefx_spec.rb

%p A chromedriver browser came to life and logged into truefx.com
%p Then it downloaded some zip files into ~fx1/Downloads/

%p
  %a(href='class08#setup')
    Class08 Lab
