%h1 Class02
%p
  In Class02 we review topics and techniques from Class01.
  Eventually, your projects will be to deploy ML apps;
  the topics below will help you.
  So, in Class02, we focus on the topics listed below:

%h2 Topics:
%ul
  %li AWS
  %li Linux
  %li Git
  %li Heroku

%h2 Questions:
%ul
  %li Which parts of AWS interest you the most?
  %li
    %a(href='/cclasses/class02aws') Answer
  %li How to get started with Linux?
  %li
    %a(href='/cclasses/class02l10') Answer
  %li What is the Linux-word for folder?
  %li What is Git and why use it?
  %li
    %a(href='/cclasses/class02g10') Answer
  %li How to deploy a simple app on Heroku?
  %li
    %a(href='/cclasses/class02h10') Answer


%h2#lab Lab:
%ul
  %li Create an AWS account
  %li
    %a(href='/cclasses/class02aws1') Answer
  %li Create an EC2 Instance
  %li
    %a(href='/cclasses/class02ec21') Answer
  %li Linux: In VirtualBox, create ~/myetc/
  %li In VirtualBox, copy /etc/passwd to ~/myetc/passwd
  %li Copy /etc/group  to ~/myetc/
  %li Copy /etc/init.d to ~/myetc/
  %li List folders in ~/myetc/
  %li List files   in ~/myetc/
  %li List files   in ~/myetc/init.d sorted by date
  %li List largest file in ~/myetc/init.d
  %li Update ~/myetc/init.d/ to be group un-readable
  %li Update ~/myetc/passwd to be public un-readable
  %li Update ~/myetc/group to be public writable
  %li Delete ~/myetc/init.d/README
  %li Rename ~/myetc/init.d/reboot to ~/myetc/init.d/reboot.bak
  %li
    %a(href='/cclasses/class02l11') Answers
  %li How much space is used by ~/myetc/ ?
  %li How much space is available to ~/myetc/ ?
  %li What does lspci tell me?
  %li What does lshw tell me?
  %li What does cat /proc/cpuinfo tell me?
  %li What does top tell me?  
  %li What does ps -ef tell me?  
  %li How to start emacs and then kill it with kill command?
  %li
    %a(href='/cclasses/class02l13') Answers

  %li List your Public Interfaces to the network.
  %li List your Private Interfaces to the network.
  %li List your IP-Address (or IP-Addresses)
  %li List your Netmask(s)
  %li What is the IP-Address of your DNS server?
  %li How to ping Google?
  %li Are you using DHCP?
  %li
    %a(href='/cclasses/class02l15') Answers
  %li Create a user named bob.
  %li Give bob a password.
  %li Give bob sudo privilege.
  %li Delete the user named bob.
  %li
    %a(href='/cclasses/class02l17') Answers  
