%h2 Class01 Answer:
%h2 What is Capybara?

%p I find Capybara here:

%p
  %a(href='https://github.com/jnicklas/capybara' target='x')
    https://github.com/jnicklas/capybara
  
%p It is a Ruby Gem.

%p
  %a(href='class01')
    Class01
