%h2 Class07 Answer:
%h2  Create a heatmap from GSPC pctlead, pctlag1, and date-features

%p After much time with Google, I did this lab.

%p The script looks like this:
.syntax
  %pre
    =render 'class07hm16'

%p I ran it:
.syntax
  %pre
    =render 'class07hm17'

%p The heatmap looks like this:
%img(src='/class07/hm17.png')

%p
  %a(href='class07#hm')
    Class07 Lab
