%h1 Class10
%p In Class10 we build a Machine Learning API server.

%h2 Topics:
%ul
  %li Flask-RESTful
  %li Keras
  %li SQLAlchemy

%h2 Questions:
%ul
  %li What is Flask-RESTful?
  %li Why use Flask-RESTful?
  %li What is Keras?
  %li Why use Keras?
  %li What is SQLAlchemy?
  %li Why use SQLAlchemy?
  
  
%h2#setup Lab (Setup)

%ul
  %li Download:
  %li ub16feb2b.ova (Ubuntu 16.04 VirtualBox Instance 8.1 GB):
  %li
    %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU' target='x')
      https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU

  %li Import the above OVA file
  %li Login as ann [ pass is 'a' ]
  %li See if you can connect to Postgres using psql
  %li Clone this repo:
  %li
    %a(href='https://github.com/danbikle/keras11' target='x')
      https://github.com/danbikle/keras11
  %li Study this script:
  %li
    %a(href='https://github.com/danbikle/keras11/blob/master/keras11.py' target='x')
      https://github.com/danbikle/keras11/blob/master/keras11.py
  

%p Steps of keras11.py Script:
%ul
  %li
    .syntax
      %pre
        =render 'class10s1'

%h2 UNDER CONSTRUCTION...

  
    

