%h2 Class08 Answer:
%h2 clone https://github.com/danbikle/ml4us

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx1
      git clone clone https://github.com/danbikle/ml4us
      cd ml4us
      ls -la
%p
  %a(href='class08#setup')
    Class08 Lab
