%h2 Class04 Answer:
%h2 Build a DataFrame full of 2016 test data.

%p This lab was easy after I had built a DataFrame of training data.

.syntax
  %pre.sbar999
    =render 'class04spark60'

%p I saw something like this:
.syntax
  %pre.sbar999
    =render 'class04spark61'

    
%p
  %a(href='class04#spark')
    Class04 Lab
