%h2 Class08 Answer:
%h2 Get data from truefx.com

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx2/railsfx/
      rails test test/system/get_tfx_data_test.rb

%p A chrome browser came to life and logged into truefx.com
%p Then it downloaded some zip files into ~fx2/Downloads/
%p Here is a copy of some of the data:
%p
  %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4MFdCbk1JalFHc00' target='x')
    https://drive.google.com/file/d/0Bx3iDDAtxxI4MFdCbk1JalFHc00
%hr/  

%p The above file is small.
%p If you want much more data, try this link:
%p
  %a(href='https://drive.google.com/drive/folders/1jMFSP-_wTtt5rtdtQuQdtPQr6087xz6K' target='x')
    https://drive.google.com/drive/folders/1jMFSP-_wTtt5rtdtQuQdtPQr6087xz6K
  
%p
  %a(href='class08#op')
    Class08 Lab
