%h2 Class09 Answer:
%h2 Report Predictions Effectiveness Sum, Grouped by Pair and Training Size

%p I started this lab by asking two questions:
%ul
  %li Of the five pairs, which is the most predictable pair?
  %li For each pair, what is an optimal amount of training data?

%p To help me answer the above questions, I wrote the script listed below:

.syntax
  %pre
    =render 'class09s23a'

%p I ran the above script and saw this output:

.syntax
  %pre
    =render 'class09s23b'

%p Above, I can see that the most effective combination of pair and trainsize is: AUDUSD, 31000.

%p I see that 7 combinations give me an effectiveness sum over 6,000.

%p Of those 7, 4 combinations contain AUDUSD.

%p When I study the top 30 combinations, AUDUSD appears 14 times.

%p Clearly, AUDUSD is the most predictive pair.

%p The least predictive pair is USDJPY.

%p
  %a(href='class09#op')
    Class09 Lab
