%h2 Class08 Answer: 
%h2 Learn from the features
%h2 Generate predictions
%h2 Report effectiveness of predictions

%p I did this lab and it required some knowledge.

%p I wrote a script:

.syntax
  %pre
    =render 'class08s21a'

%p
  %a(href='class08#setup')
    Class08 Lab
