%h2 Class03 Answer:
%h2 Write Pandas syntax which mimics this SQL:
.syntax
  %pre
    =render 'class03pd23'

%p I ran the above SQL and saw this:

.syntax
  %pre
    =render 'class03pd25'
    
%p I did this lab by writing the script listed below:

.syntax
  %pre
    =render 'class03pd26'

%p I saw this:

.syntax
  %pre
    =render 'class03pd22'

%p
  %a(href='class03#lab')
    Class03 Lab
