%h2 Class09 Answer:
%h2 Generate Features

%p When I work with stock market data, I generate features from slopes of price moving averages.
%p When I work with Forex data, for each observation, I generate features from lagging prices.
%p For this lab, the script I used to create features for each observation is listed below:

.syntax
  %pre
    =render 'class09s21a'

%p I ran the above script and it needed about one minute to finish.

%p The resulting CSV files are listed below:

.syntax
  %pre
    =render 'class09s21b'


%p
  %a(href='class09#setup')
    Class09 Lab
