%h2 Class03 Answer:
%h2 Write shell script which calls psql and connects to user named madlib.

%p I wrote this:

.syntax
  %pre
    =render 'class03m15'

%p A feature of the above script is that it passes the password to psql.
    
%hr/
%p
  %a(href='class03#madlib')
    Class03 Lab
