%h2 Class08 Answer:
%h2 clone https://github.com/danbikle/railsfx

%p For me this was an easy lab. 
%p I typed some shell commands:

.syntax
  %pre
    %code
      cd ~fx2
      git clone https://github.com/danbikle/railsfx
      cd railsfx
      ls -la
%p
  %a(href='class08#setup')
    Class08 Lab
