%h2 Class03 Answer:
%h2 On your MADlib host, git pull
%h2 https://github.com/danbikle/madlib_demos

%p If you installed MADlib yourself, run these shell commands:

.syntax
  %pre
    %code.bash
      cd ~
      git clone https://github.com/danbikle/madlib_demos
      
%p If you are using this ova:

%p
  %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4YlVKZVJsLWtXMTg' target='x')
    madlib2016a.ova

%p Run these shell commands:


.syntax
  %pre
    %code.bash
      cd ~ann/madlib_demos
      git pull origin master
      
%hr/
%p
  %a(href='class03#lab')
    Class03 Lab
