%h1 GCP100

%p This class should teach you how to interact with Google Cloud Platform (GCP) at a very simple level.

%p GCP is extremely feature rich which means it might confuse you with its complexity.

%p This class should show you some basics which you can use right away.

%p To get started in my GCP kitchen, I located two important ingredients:

%ul
  %li My Credit Card
  %li My gmail address

%p
  I logged into gmail.
  
%p
  Next, I visited the URL listed below:
  
%p
  %a(href='https://cloud.google.com/' target='x')
    https://cloud.google.com/
  
  
%p
  Then this:
  
%p
  %a(href='https://cloud.google.com/docs/' target='x')
    https://cloud.google.com/docs/
  
  
%p
  Then this:
  
%p
  %a(href='https://cloud.google.com/free/docs/frequently-asked-questions' target='x')
    https://cloud.google.com/free/docs/frequently-asked-questions
  
  
%p
  I registered; I gave GCP my Credit Card info; GCP gave me a $300 credit.
  
%p
  Be aware, not everyone gets a $300 credit; I'm not sure why.

%p
  Next, I visited the URL listed below:
  
%p
  %a(href='https://cloud.google.com/compute/docs/quickstart-linux' target='x')
    https://cloud.google.com/compute/docs/quickstart-linux
  
%p
  I followed the instructions in that page.

%p At then end of that effort I followed their instructions to delete my instance.

%p I collected some screenshots.

%img(src='/class02/gcp10.png')
%hr/
%img(src='/class02/gcp11.png')
%hr/

%img(src='/class02/gcp12.png')
%hr/

%p Next I pressed the blue-create button to create another instance:

%img(src='/class02/gcp13.png')
%hr/

%img(src='/class02/gcp14.png')
%hr/

%img(src='/class02/gcp15.png')
%hr/

%p Google quickly created a new instance and I started Bash on it with the SSH link:

%img(src='/class02/gcp16.png')
%hr/

%p I created an account named ann with this syntax:

.syntax
  %pre
    %code sudo useradd -m -s /bin/bash -G sudo ann

%p Then I located my public key on my laptop:

.syntax
  %pre
    %code cat ~/.ssh/id_rsa.pub

%p Next, in the new ann account, I created ~ann/.ssh/authorized_keys:

.syntax
  %pre
    %code
      sudo apt install vim
      sudo mkdir ~ann/.ssh/
      sudo vim   ~ann/.ssh/authorized_keys

%p With my mouse, I copy-pasted ~/.ssh/id_rsa.pub from my laptop into ~ann/.ssh/authorized_keys

%p I set permissions on ~ann/.ssh/authorized_keys

.syntax
  %pre
    %code
      sudo chmod 700 ~/ann/.ssh/
      sudo chmod 600 ~/ann/.ssh/authorized_keys
      sudo chown -R ann ~/ann/.ssh/

%p I connected to the ann account from my laptop:

.syntax
  %pre
    %code ssh ann@35.31.4.56

%p It worked. Yay!

%p
  %a(href='class02#hw1') Class02
