%h1 GCP100

%p This class should teach you how to interact with Google Cloud Platform (GCP) at a very simple level.

%p GCP is extremely feature rich which means it might confuse you with its complexity.

%p This class should show you some basics which you can use right away.

%p To get started in my GCP kitchen, I located two important ingredients:

%ul
  %li My Credit Card
  %li My gmail address

%p
  I logged into gmail.
  
%p
  Next, I visited the URL listed below:
  
%p
  %a(href='https://cloud.google.com/' target='x')
    https://cloud.google.com/
  
  
%p
  Then this:
  
%p
  %a(href='https://cloud.google.com/docs/' target='x')
    https://cloud.google.com/docs/
  
  
%p
  Then this:
  
%p
  %a(href='https://cloud.google.com/free/docs/frequently-asked-questions' target='x')
    https://cloud.google.com/free/docs/frequently-asked-questions
  
  
%p
  I registered; I gave GCP my Credit Card info; GCP gave me a $300 credit.
  
%p
  Be aware, not everyone gets a $300 credit; I'm not sure why.

%p
  Next, I visited the URL listed below:
  
%p
  %a(href='https://cloud.google.com/compute/docs/quickstart-linux' target='x')
    https://cloud.google.com/compute/docs/quickstart-linux
  
%p
  I followed the instructions in that page.

%p
  %a(href='class02#hw1') Class02
