%h1#googh Google Hangout

%p
  This page contains information about my interactions with Google Hangout (GH).
  
%p
  GH is a video calling app which competes with Skype.
  
%p
  To learn GH follow this link:
  
%p
  %a(href='https://www.google.com/search?q=google+hangout+tutorial+2017' target='x')
    https://www.google.com/search?q=google+hangout+tutorial+2017
  
  
%p
  Another way to learn GH is to get two laptops and login to gmail on each laptop.
  
%p
  You should login to different gmail accounts on each laptop.
  
%p
  Then, hold a GH session between the two laptops.
  
%p
  Finally, try various experiments.
  
%p
  If you have only one laptop, try running GH on the laptop connected to GH on your phone.
  
%p
  Also you can run GH on your laptop connected to GH running on a fake linux laptop inside VirtualBox.

%p Some features of GH are listed below:

%ul
  %li GH works best inside a chrome-browser
  %li I can send a GH-link to a friend who can click that link to start the call
  %li Or, if I see a friend in gmail, I click the video-camera next to their name to start a call
  %li
    %img(src='/goog_hangout/vidc2.png')
    %hr/
  %li When that happens, my friend should see a call-request on the left-side of gmail
  %li Once connected, we can see each other if video cameras are turned on
  %li Once connected, we can hear each other if microphones are turned on
  %li Often we will turn-off the video cameras and rely only on microphones
  %li
    %img(src='/goog_hangout/nocam.png')
    %hr/
  %li If I have 5 friends, I can send a GH-link to them so all 5 of us can have a call
  %li When connected to 5 people, it is polite to mute your microphone, unless you want to talk
  %li
    %img(src='/goog_hangout/nomic2.png')
    %hr/
  %li Another way to communicate on GH is to use text-chat
  %li
    %img(src='/goog_hangout/txtchat.png')
    %hr/
  %li Text-chat is very important in GH
  %li Use text-chat to communicate when your microphone malfunctions (which is a frequent bug)
  %li You can disable the view of text-chat, but that is impolite
  %li
    %img(src='/goog_hangout/txtchat2.png')
    %hr/
  %li It is polite to enable the view of text-chat
  %li GH allows a teacher to share screen with students
  %li
    %img(src='/goog_hangout/share_screen.png')
    %hr/

%p
  %a(href='#googh')
    Top
