%h1 Classes
%ul
  %li
    %a(href='/cclasses/class01') Class01
    
  %li
    %a(href='/cclasses/class02') Class02
    			      
  %li			      
    %a(href='/cclasses/class03') Class03
    			      
  %li			      
    %a(href='/cclasses/class04') Class04
    			      
  %li			      
    %a(href='/cclasses/class05') Class05
    			      
  %li			      
    %a(href='/cclasses/class06') Class06
    			      
  %li			      
    %a(href='/cclasses/class07') Class07
    			      
  %li			      
    %a(href='/cclasses/class08') Class08
    			      
  %li			      
    %a(href='/cclasses/class09') Class09
    
  %li
    %a(href='/cclasses/class10') Class10
    