%h1 Blog
%h2 2016-08-08 Dan Bikle
%h3 bikle101@gmail.com
%p I can easily find content on the web which teaches me Machine Learning technology.
%p Also I can find information about building many types of applications.
%p My site, ml4.us, fills the training-niche of building applications with a Machine Learning back-end.
