%h1 About

%p I use this site to serve training content to students in my class:

%h2 Build Machine Learning Applications with Linux, Python, and Spark

%ul
  %li Using a scenario-based, outside-in development methodology, you will build and assemble modules built from Linux, Python, and Spark into a Machine Learning Application.

  %li You start by finding observations data on the web which is information rich (financial or sports data are good choices).

  %li You will use Linux to pull new observations into a data store (CSV, Postgres, or HDFS perhaps) each minute (or hour or day).

  %li You will use Python (Pandas, NumPy, psycopg2, SFrame, PySpark) to transform observations into taining data and test data.

  %li You will use Python APIs of respected Machine Learning libraries to learn from data (scikit-learn, Theano, and TensorFlow).

  %li From your Machine Learning models you will predict past observations and then gauge accuracy and effectiveness of your models.

  %li You will use Python Data Visualization technology to show model behavior to your end-users: Matplotlib, Bokeh

  %li You will use Python web technology to serve visualizations (and API data) to your end-users: Django, Flask

  %li You will use cloud technology to present predictions from your Machine Learning Application to end-users and investors: Amazon EC2, Heroku

  %li You will use Linux and Python to monitor your Machine Learning Application to maximize its uptime and performance: urllib, BeautifulSoup, Selenium

  %li
    %a(href='http://www.santaclaraadulted.org' target='x')
      http://www.santaclaraadulted.org

