
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <p>Contact Dan Bikle. He teaches and build Machine Learning Applications: bikle101@gmail.com</p>
      <p>We use the dan101 Google Group to act as a class forum:</p>
      <p>
        <a href='https://groups.google.com/forum/#!forum/dan101' target='x'>
          https://groups.google.com/forum/#!forum/dan101
        </a>
      </p>
      <p> Where is class?</p>
      <p> Here: 1840 Benton St, Santa Clara, CA 95050 Building K, Room K1 </p>
      <p> When is class?</p>
      <p> Wednesday Nights 7 to 10 (usually)</p>
      <p>
        <a href='http://www.santaclaraadulted.org/Page/628' target='x'>
          http://www.santaclaraadulted.org/Page/628
        </a>
      </p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; tsds4.us 1999-3000</p>
  </footer>
</div> <!-- /container -->

