
%table#maint
  %tr#tr0
    %td#tr0td0
      %a#asyntax611(href='/') ML4.us
      Machine Learning. For us.
  %tr#tr1
    %td#tr1td1
      %a(href='/syllabus') Syllabus
      %a(href='/contact')  Contact
      %a(href='/posts')     Posts
      %a(href='/questions') Questions
      %a(href='/tags')      Tags
  %tr#tr2
    %td#tr2td1
      %hr/
      = yield
      %hr/

  %tr#tr3
    %td#tr3td0
      %a#asyntax611(href='/') ML4.us
      Machine Learning. For us.

  %tr#tr4
    %td#tr4td1
      %a(href='/syllabus') Syllabus
      %a(href='/contact')  Contact
      %a(href='/posts')     Posts
      %a(href='/questions') Questions
      %a(href='/tags')      Tags


