%hr/
.my-bottom-nav
  %a(href="/")                 ml4.us
  %a(href="/about")            About
  %a(href="/blog")             Blog
  %a(href="/contact")          Contact
  %a(href="/cclasses/class01") Class01
  %a(href="/cclasses/class02") Class02
  %a(href="/cclasses/class03") Class03
  %a(href="/cclasses/class04") Class04
  %a(href="/cclasses/class05") Class05
  %a(href="/cclasses/class06") Class06
  %a(href="/cclasses/class07") Class07
  %a(href="/cclasses/class08") Class08
  %a(href="/cclasses/class09") Class09
  %a(href="https://groups.google.com/forum/#!forum/dan101" target='f')dan101 Forum
%hr/
%footer
  %p &copy; ml4.us 1999-3000
