%hr/
.my-bottom-nav
  %a(href="/")                 ml4.us
  %a(href="/about")            About
  %a(href="/blog")             Blog
  %a(href="/contact")          Contact
  %a(href="/cclasses/class01") Class01
  %a(href="/cclasses/class02") Class02
  %a(href="/cclasses/class03") Class03
  %a(href="https://groups.google.com/forum/#!forum/dan101" target='f')dan101 Forum
%hr/
%footer
  %p &copy; ml4.us 1999-3000
