
%nav(class="navbar navbar-static-top navbar-dark bg-inverse")
  %ul(class="nav navbar-nav")
    %li(class="nav-item")
      %a(class="nav-link" href="/")ml4.us
    %li(class="nav-item")
      %a(class="nav-link" href="/about")About
    %li(class="nav-item")
      %a(class="nav-link" href="/blog")Blog
    %li(class="nav-item")
      %a(class="nav-link" href="/contact")Contact

    %li(class="nav-item")
      %a(class="nav-link" href="/cclasses/class01")Class01
    %li(class="nav-item")
      %a(class="nav-link" href="/cclasses/class02")Class02
    %li(class="nav-item")
      %a(class="nav-link" href="/cclasses/class03")Class03
    %li(class="nav-item")
      %a(class="nav-link" href="https://groups.google.com/forum/#!forum/dan101" target='f')dan101 Forum

