<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>learn4.us</title>

    <!-- Bootstrap core CSS -->
    <link href="/bs4/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bs4/jumbotron.css" rel="stylesheet">
    <link href="/site.css" rel="stylesheet">
  </head>

  <body>
    <%=render('layouts/topnavbar')%>

    <!-- element below should be div.container which comes from erb files in ../posts/ -->
    <%= yield %>

    <hr />
    <footer>
      <p> &copy; learn4.us 1999-3000</p>
    </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- if google gives me jquery use it else use mine: -->
    <script>window.jQuery || document.write('<script src="/bs4/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bs4/dist/js/bootstrap.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/bs4/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
